[2016-02-15 21:25] cben opened #3 "letsencrypt.sh + lexicon on DNSimple creates _acme-challenge.www.foo.net.foo.net"
Thanks for writing this library (and blog post) just in time, it helped me get Let's Encrypt certs a few days ago :-)

Using it with DNSimple I had to intervene in the code, as it was creating wrong domains:
I'm controlling `mathdown.net` zone;
for `www.mathdown.net` it created `_acme-challenge.www.mathdown.net.mathdown.net`,
for `mathdown.net` it created `_acme-challenge.mathdown.net.mathdown.net

[2016-02-15 21:32] cben commented on #3
BTW, what if my zone if not of "foo.TLD" form?
dnsimple.py authenticate() checks `payload['domain']` exists but then ignores its value and uses `self.options.domain`.  I think it's better to verify it's equal.
For refernce here is my authenticate() GET result:
[code]
and GET results for list CNAME:
[code]

[2016-02-18 21:10] AnalogJ commented on #3
Hmm, I'm not sure whats going wrong. I don't have a DNSimple account, I based that provider on the DNSimple sandbox, but it did work correctly. I'll take another look this weekend.

[2016-02-18 22:53] cben commented on #3
So first question about my assumptions: when I run lexicon with `--name foo.bar`, is that supposed to mean absolute `foo.bar.` domain or relative `foo.bar.my.zone.`?

[2016-02-21 19:19] AnalogJ commented on #3
it should be the absolute domain, `foo.bar.example.com`

[2016-03-15 21:32] welwood08 opened #9 "error: argument --content: expected one argument"
I was getting this error occasionally while creating zone entries for letsencrypt challenges. Managed to track it down to a content string beginning with a hyphen. The argument parsing library lexicon uses seems to misinterpret that as another argument rather than the value of the content argument.

Worked around it by replacing `--content "$challenge"` with `--content="$challenge"`. Not sure how

[2016-03-16 01:56] AnalogJ commented on #9
good catch. I'm in the middle of a partial rewrite of the engine to make it more testable. I'll take a look at handling CLI args better.

[2016-03-21 04:48] AnalogJ commented on #9
Hey @welwood08 , I've released version 1.0.11 which updated the readme to use `=` when specifying parameters.

[2016-03-21 04:48] #9 closed

[2016-03-21 04:49] AnalogJ commented on #3
Hey @cben can you try using version v1.0.11 now? I made a bunch of fixes and wrote a full test suite to verify that all the providers work in the same way. DNSimple should be working correctly now. All providers should also support relative and absolute domain entries.

[2016-03-21 04:58] cben commented on #3
Cool, will test.
21 марта 2016 г. 6:49 AM пользователь "Jason Kulatunga" <
notifications@github.com> написал:

[2016-03-27 22:18] AnalogJ commented on #3
This looks fixed. Feel free to reopen if you still have this issue.

[2016-03-27 22:18] #3 closed

[2016-03-30 00:12] txr13 opened #20 "Suggestion to add provider support for easyDNS"
I would like to suggest adding support for easyDNS as a provider to lexicon. Documentation is available at http://docs.sandbox.rest.easydns.net/, and the signup for an API key is located at http://docs.sandbox.rest.easydns.net/beta_signup.php

I am not fluent in Python (hence the lack of a pull request), but I am very willing to help test code using my own easyDNS account / domains. I'm particular

[2016-03-30 01:50] AnalogJ commented on #20
Hey @txr13 I'm more than happy to add support for easyDNS, I'll take a look at their api and get back to you.

[2016-04-05 02:19] AnalogJ commented on #20
Hey @txr13 can you try v1.0.22 of the lexicon library? I've gotten a easydns api key, and I was able to test against the sandbox environment.

[2016-04-06 20:00] txr13 commented on #20
Testing with lexicon 1.0.23:

First I ran into a big, fat 403 Forbidden. After basic testing with curl to make sure I didn't mistype the API token/key (user/pass substitute), I realized that lexicon has the live API endpoint, not the sandbox. Edited easydns.py to fix that for testing.

List of all TXT records succeeded.
Create TXT records succeeded.
Delete TXT records by name/content succeeded.
De

[2016-04-06 20:04] txr13 opened #26 "SPF support could be confusing"
I note that the SPF RR type was discontinued in RFC 7208 (see https://tools.ietf.org/html/rfc7208#section-3.1). I tried searching for my own SPF records with the SPF type, but of course they were not found (they do show up as TXT records, which they are). This could lead to confusion as to whether the command should return SPF records (which are implemented as standard TXT records) or records of t

[2016-04-07 05:11] AnalogJ commented on #20
awesome :) I'll close this then. If you run into any new problems, feel free to open another issue

[2016-04-07 05:11] #20 closed

[2016-04-08 16:29] aeden commented on #26
I concur. We will likely be dropping the SPF type in DNSimple at some point in favor of just the TXT record type for SPF.

[2016-04-08 22:42] lukas2511 opened #28 "Authentication mechanisms"
Hey,

I think this project is very interesting, but your approach on how to manage authentication with all those different providers looks like it will sooner or later be a real pain.

Some providers use different kinds of oauth, some just an API-token, some username+password, some account+subaccount+password, etc.

If you keep the login settings part of the main script I think you'll have a list

[2016-04-11 21:52] AnalogJ commented on #28
Good point. So far the auth types that I've specified (username/password/token/2fa-token) have worked well, but I haven't yet had to take into account a subaccount, which as you mentioned would require another flag/env variable. It would be a good idea to pass auth flags to the provider itself and have them validate and specify the required flags.

This is going to require some refactoring, but sh

[2016-04-11 21:56] AnalogJ commented on #26
Yeah, dropping SPF looks like a good idea, I didn't realize it was deprecated. I've never used one myself, and initially just added it because it was supported by some of the providers.

[2016-04-14 04:49] cben commented on #3
Thanks, worked perfectly now.

[2016-04-15 04:04] AnalogJ commented on #28
v1.1.1 has been released. It includes changes so that the providers themselves can specify the auth arguments they need. Its not as clean as I'd like, especially since ArgParse doesn't have lazy subparser loading, but it does the job. I'm going to close this for now, thanks for pointing it out.

[2016-04-15 04:04] #28 closed

[2016-04-21 18:51] napcae opened #35 "Digitalocean Provider spits out invalid json"
[code]

The issued command is ```lexicon digitalocean list ctnguyen.net --auth-token $LEXICON_DIGITALOCEAN_TOKEN TXT```

Look after the `content`-pair and `type`-pair. There are _u_'s after the colon. I don't were there are coming from.
I discovered this, when I tried to setup letsencrypt.sh with the provided example hook.
The `clean_challenge` returns an empty list(maybe because the json is inval

[2016-04-21 19:28] napcae commented on #35
What exactly do you need me to do? Regarding the test suites?

[code]
I meant that list, see line 5?

Regarding the --auth-token:
[code]

[2016-04-21 20:25] AnalogJ commented on #35
That first command looks incorrect, lexicon is failing because its trying to delete a record that doesn't exist. I think it should be `_acme-challenge.ctnguyen.net` instead of `_acme.challenge.ctnguyen.net`
You said it's failing when using the provided [letsencrypt.sh hook](https://github.com/AnalogJ/lexicon/tree/master/examples). Can you paste the output from it?

you might want to try exporting

[2016-04-21 20:40] napcae commented on #35
You are right, that doesn't change the fact, that the call from letsencrypt.sh hook is failing though:

[code]

While you can see, that the record clearly exists:
[code]

[2016-05-02 19:48] AnalogJ commented on #35
hmm. Are you still seeing this issue? I tried to replicate this over the weekend, but I didn't get any errors.

[2016-05-02 23:11] #26 closed

[2016-05-03 18:32] napcae commented on #35
Yes, still the same error..:/

[2016-05-13 15:38] voltagex opened #38 "Add Gandi Provider"
Hopefully I will have a go at this one at some point soon - http://doc.rpc.gandi.net/domain/usage.html

The API is all kinds of weird, though: http://doc.rpc.gandi.net/domain/reference.html#ZoneUpdate

[2016-05-23 13:22] jokester opened #40 "Case should be ignored when filtering records from digitalocean API"
I noticed that digitalocean's HTTP API always returns `data` field of TXT records in lowercase, see [example](https://gist.github.com/jokester/e1152fd90ace2f71d767af1d96d802dc).

This can cause [lexicon](https://github.com/AnalogJ/lexicon/blob/b278cebf3f0cfba720b87b6ff9415969d524edc2/lexicon/providers/digitalocean.py#L58) to filter out the correct record and throw `Record identifier could not be f

[2016-05-23 13:35] jokester commented on #35
@napcae I found an issue in #40 that may be related to your problem.

Would you mind try the code in [this branch](https://github.com/jokester/lexicon/tree/digitalocean-ignore-content-case)? I had identical error as [yours](https://github.com/AnalogJ/lexicon/issues/35#issuecomment-213105616) and this code did help on my end.

[2016-05-23 13:37] jokester commented on #40
Wrote a patch [here](https://github.com/jokester/lexicon/tree/digitalocean-ignore-content-case) that solved my error.

[2016-05-23 13:39] jokester commented on #40
Digital Ocean stuff just told me "As DNS is case insensitive, the returned value from the API vs the query result should not matter or affect the value of the query. ". That makes this patch look quite valid to me.

[2016-05-26 22:13] AnalogJ commented on #40
ahh, that's interesting. I'll test it out locally and then merge the PR.

[2016-05-26 22:19] #40 closed

[2016-06-08 14:22] napcae commented on #35
Ah, sorry for the late reply. I did try it, but forgot to answer. Anyway - same error. So no fix yet for me :(

[2016-07-28 19:29] AnalogJ commented on #38
@hrunting added a PR (#45) for this, so I'll close this issue :)

[2016-07-28 19:29] #38 closed

[2016-07-30 20:12] geekuality opened #49 "TTLs hard-coded and not even passed to providers from the command line"
I just started to use lexicon with acme.sh and after banging my head to the wall for a while (and even suspecting that DNS Made Easy's API was not working properly as my records kept being generated with TTL of 84600 no matter what I did) before I realized to check the sources here - and, lo and behold, for example here..

https://github.com/AnalogJ/lexicon/blob/067f7feecaf2b79222374804f02b03ecdd4

[2016-07-30 20:28] AnalogJ commented on #49
woah, thats definitely a bug. Let me write some test cases for the existing and I'll get that fixed.

[2016-07-30 21:30] AnalogJ commented on #49
Hey @geekuality I've opened a PR with the TTL related fix. It should be packaged momentarily. Thanks for bringing up this issue, it's definitely something that was overlooked.

[2016-07-30 21:32] #49 closed

[2016-07-30 21:36] AnalogJ commented on #49
fixed in version v1.1.9

[2016-08-02 11:29] thomasf1 opened #51 "urn:acme:error:unauthorized on dns-01 (letsencrypt.default.sh)"
When using the letsencrypt.sh lexicon hook (https://github.com/AnalogJ/lexicon/blob/master/examples/letsencrypt.default.sh), the first in a line of domains always works, but then the 2nd or 3rd alias throws this error. It seems like some timeout issue...

[code]

I´ve replaced keys sent with someKey / someID...

[2016-08-06 03:30] AnalogJ commented on #51
Hey @thomasf1 that's a weird looking error. It seems like lexicon was able to correctly validate `domain1.de` and `www.domain1.de`. I wonder why it was able to successfully do those 2 but failed to authenticate anything else. Could you include a cleaned up copy of your domains.txt file?

My initial thought is that the sleep time in the  letencrypt.default.sh `deploy_challenge` handler isn't long e

[2016-08-17 21:08] unclespeedo opened #52 "unable to create records - "create_record: False""
I've installed lexicon with pip in a virtual env with the "[stankevich/python](https://forge.puppet.com/stankevich/python)" puppet module, I only mention this to verify the installation is consistent between hosts.

I'm using the same provider (dnsmadeeasy) and environment variables (LEXICON_DNSMADEEASY_USERNAME, LEXICON_DNSMADEEASY_TOKEN) on both hosts.

When I run try to add records from one hos

[2016-08-17 23:39] unclespeedo commented on #52
upon further review, the server that isn't working has dns-lexicon 1.1.9 installed, on the servers where it is working, they're running 1.1.7.

[2016-08-17 23:46] AnalogJ commented on #52
Hey @unclespeedo
huh, thats actually really weird, the only changes between 1.1.9 and 1.1.7 are related to `ttl` support and the associated test framework updates

here are the changes: https://github.com/AnalogJ/lexicon/compare/v1.1.7...v1.1.9

can you do a `pip list` and check what other packages are different? (specifically `requests` or `tldextract`)

[2016-08-17 23:59] unclespeedo commented on #52
I just reset my environment away and pinned to version 1.1.8 and it works.

FWIW, the working (1.1.7) environment has the following pip list

I started fresh with 1.1.9 pinned and it failed again (pip list below)

Since this is fairly easy for me to re-create and get consistent results one way or the other, please let me know if you'd like me to try anything in an effort to resolve the ttl issue w

[2016-08-18 00:06] AnalogJ commented on #52
Thanks for helping me debug this :)

Can you try passing a ttl parameter to lexicon with v.1.1.9? try `--ttl=1800` and if that doesn't work try bumping it up to `--ttl=86400`

I'm thinking that the default value of `300` is too low for dnsmadeeasy and they're throwing an error. It should have been caught by the test suite though, so I'll have to figure out what happened.

[2016-08-18 00:08] AnalogJ commented on #35
Hey @napcae can you try using the latest version of lexicon? v1.1.9 and if you're still running into errors can you include the output of `pip list`? Thanks!

[2016-08-18 00:30] unclespeedo commented on #52
--ttl=1800 is works successfully

[2016-08-18 01:35] AnalogJ commented on #52
Thanks for verifying. So the messed up thing is that the default TTL is 3600 https://github.com/AnalogJ/lexicon/blob/master/lexicon/providers/base.py#L5

The only reason I tried 1800 and 86400 is that I found them in the DNSMadeEasy Api doc examples. I guess I'll override the default TTL for dnsmadeeasy to 1800 because we know it works.

And I've figured out why the test suite didn't catch the err

[2016-08-28 02:55] #52 closed

[2016-09-29 03:30] mrwacky42 commented on #35
Perhaps OP has the same problem as me: Lexicon doesn't deal with paginated results from DigitalOcean. The challenge TXT record is in the second page of results for me.

I found a nice solution here: https://github.com/Wiredcraft/dopy/pull/31/files

[2016-09-29 10:30] napcae commented on #35
Hey @AnalogJ & @mrwacky42
That could be the problem. Although I think I also tried it with a domain which had a smaller zone file and still had the same problem. I'm not using lexicon anymore.

[2016-09-29 10:30] #35 closed

[2016-10-02 21:58] bdeprez opened #56 "Add Dreamhost API support"
Hi AnalogJ,

I have been looking at lexicon and your blog posts about using Let's Encrypt for private (firewalled) servers. However, I'm lost at how I could include Dreamhost support - I've been looking at the config files for the other providers but wasn't able to decypher how I would need to create one from scratch...

Dreamhost API details are here: https://help.dreamhost.com/hc/en-us/articles/

[2016-10-08 19:22] techtonik commented on #56
Reuse https://github.com/mcgid/python-dreamhostapi

[2016-10-08 21:20] AnalogJ commented on #56
Hey @bdeprez,
Basically all you need to do is create a new python file in the [providers folder](https://github.com/AnalogJ/lexicon/tree/master/lexicon/providers) with the name dreamhost.py

It needs to implement the following functions: https://github.com/AnalogJ/lexicon/blob/master/lexicon/providers/base.py#L7-L31

Looking at the dreamhost api doc you linked, it seems the response isn't JSON or

[2016-10-08 21:23] AnalogJ commented on #35
@mrwacky42
Sorry I just noticed your response. Yeah that sounds like it could definitely cause some issues. Would you be willing to open a PR with the pagination fix on the DO provider?

[2016-10-08 21:25] AnalogJ commented on #51
This issue is getting old. I'm going to close it for now, but if you're still seeing the same issue, feel free to reopen it.

[2016-10-08 21:25] #51 closed

[2016-10-08 22:46] techtonik opened #59 "List all domains?"
How to make `domain` argument optional? For example, DreamHost API list query contains all domains configured for certain account. Also, what is the 'domain' lexicon? Is it `zone` or `record`?

[code]

[2016-10-10 05:48] AnalogJ commented on #59
Hey @techtonik

Yeah I noticed that the DreamHost list API doesn't take a domain parameter. I wouldn't ignore the domain parameter (as that's a pretty standard parameter used internally) Instead I would just use the domain parameter to filter the output of the list API, and ensure that the domain exists in the list. Its basically what we do in [LuaDNS](https://github.com/AnalogJ/lexicon/blob/maste

[2016-10-10 07:47] techtonik commented on #59
Yes, I've got this `zone == domain` convention too. But have you considered the possibility for the library to list all the managed zones given the authkey an provider?

[2016-10-10 13:18] tlvince opened #63 "ImportError: No module named transip.client"
Calling `lexicon` throws:

[code]

dns-lexicon (1.1.15)

[2016-10-10 15:15] AnalogJ commented on #63
Hey @tlvince

Sorry about that. I tried to do some magic so that I could support optional libraries for specific providers, but I forgot that the lexicon CLI attempts to load all the providers when it lists the arguments for them. The test suite worked correctly because my optional libraries were present. I'll have to add a new test to ensure that the library works correctly without any optional l

[2016-10-10 15:15] #63 closed

[2016-10-10 15:23] AnalogJ commented on #59
Hey @techtonik
Though listing all zones could be interesting, I'm not sure it would be very useful as Lexicon doesn't let you manage zones, only records.

Yeah `zone` is the technically correct term: `my.example.com`, `test.example.com`, `hello.example.com` are all different zones, while `example.com` is the domain. However its pretty common to see `domain` used interchangeably with `zone`, especi

[2016-10-10 15:37] AnalogJ opened #65 "Add another test environment without optional-requirements.txt"
We need to do this so that we can ensure that lexicon works correctly when optional dependencies are not installed.

Maybe `py27` & `py27-extras` ?

The test command should also test the CLI (`lexicon -h`)

This is so #63 doesn't happen again

[2016-10-10 15:37] AnalogJ commented on #63
Hey @tlvince
One last thing. Can you confirm that 1.1.16 fixes your issue?

Thanks!

[2016-10-10 15:47] tlvince commented on #63
Certainly does! Thanks @AnalogJ

[2016-10-10 21:04] techtonik commented on #59
Actually I thought that `example.com` is the zone and `my.example.com` is a configured domain. Google DNS docs, for example use `zone` to refer to DNS object, and use `domain` when they refer to specific records. https://cloud.google.com/dns/quickstart

[2016-10-18 08:23] mpb159753 opened #67 "LuaDNS gets 400 Client Error: Bad Request"
`Namespace(action='create', auth_token='XXXXXXXXXXXXXXXXXXXXXXXX', auth_username='XXXXXXXXXXXXXXXXXXXXXXXX', content='XXXXXXXXXXXXXXXXXXXXXXXX', domain='XXXXXX', identifier=None, name='_XXXXXXXX.', priority=None, provider_name='luadns', ttl=None, type='TXT')

Traceback (most recent call last):
  File "/usr/local/bin/lexicon", line 9, in <module>
    load_entry_point('dns-lexicon==1.1.17', 'console

[2016-10-18 12:36] mpb159753 commented on #67
Luadns  need ttl to

[2016-10-18 12:36] #67 closed

[2016-10-18 19:50] AnalogJ commented on #67
Hey @mpb159753 what TTL did you use? Maybe I can set it as the default for that provider

[2016-10-20 09:55] test1943 opened #68 "Python 3 compatibility."
I hit the **_Missing parentheses in call to 'print'_** error after pip install with python 3.5, is this a known issue or is not Python 3 supported?

[2016-10-24 01:52] AnalogJ commented on #68
Hey @test1943
Python 3 isn't supported yet. PR #39 adds support but its unmerged and is a bit dated at this point.

[2016-10-25 22:53] Lewiscowles1986 commented on #56
Interested in seeing this even though dreamhost has their own automated letsencrypt offering it would be nicer to control it from my PC and use DNS instead of magic files inside site root

[2016-10-29 18:15] bdeprez commented on #56
Although I was able to get something working (using a different piece of code), Dreamhost’s DNS replication was too slow to get a valid response back in a reasonable amount of time – so I abandoned that solution with Dreamhost…

[2016-10-30 03:07] Lewiscowles1986 commented on #56
probably why they are not using DNS validation tbf. The second thing I considered is that many shared hosting users also move their DNS elsewhere so that could also be a problem.

[2016-10-30 17:33] habnai opened #72 "dnsmadeeasy help"
i want use acme.sh with dnsmadeeasy but how insert api key and use it for auth i use like example of cloudflare but not work?

[2016-11-03 04:41] AnalogJ commented on #56
even cloudflare had a bit of a delay before new dns records were propagated. The example dehydrated [hook script](https://github.com/AnalogJ/lexicon/blob/master/examples/dehydrated.default.sh#L18) includes a 30 second delay currently, but that could potentially be parameterized so that longer delays are supported for other providers.

How long did it take during your testing for Dreamhost records

[2016-11-09 15:06] bombergio commented on #72
To get dnsmadeeasy working you would need to provide:
--auth-username="<your API key from DNSMadeEasy>" --auth-token="<your Secret Key from DNSMadeEasy>"

If you prefer to use ENV, then:
export LEXICON_DNSMADEEASY_USERNAME="<your API key from DNSMadeEasy>"
export LEXICON_DNSMADEEASY_TOKEN="<your Secret Key from DNSMadeEasy>"

You can obtain both API Key and Security token (or generate if not done

[2016-11-09 15:18] Neilpang commented on #72
Hi,  @habnai

acme.sh has local support for DNSMadeEasy  now:

https://github.com/Neilpang/acme.sh/tree/master/dnsapi#use-dnsmadeeasy-domain-api

[2016-11-09 16:15] habnai commented on #72
Good work. Thank you

[2016-11-09 16:15] #72 closed

[2016-11-17 08:46] srvrco commented on #59
From my viewpoint listing all domains is essential.

trying to add a DNS challenge for Let's Encrypt certificates you need to add a text DNS record for the relevant FQDN  (e.g.  ._acme-challenge.sub1.sub2.example.com. ), but you don't know if this needs to be added to example.com or sub2.example.com as the "domain" entity.   Hence a list of all domains would enable you to determine which is the en

[2016-11-17 09:22] AnalogJ commented on #59
@srvrco I'm not sure exactly what you're asking for. If you want all the records for `example.com` that should be as easy as:

[code]

It should return all CNAME records for `example.com`, including its subdomains: `sub1.example.com`,  `sub2.sub1.example.com`, `www.example.com`, etc

@techtonik 's question was regarding multiple domains in the same DNS provider, ie. `example.com`, `test.com`, `exa

[2016-11-17 09:26] AnalogJ commented on #59
@techtonik I'm going to close this issue as I'm not sure it would be useful to list domains managed by a provider as Lexicon doesn't let you manage domains, only records.

[2016-11-17 09:26] #59 closed

[2016-11-17 09:55] srvrco commented on #59
I'm not sure if you want a response or not since you closed this ......

My request was to list all domains, since otherwise it's tricky to get to the records.

If I know that I want to add the record "_acme-challenge.sub1.sub2.example.com" ... but I don't actually own example.com ... only sub2.example.com  how do I find that out ?   other than just try example.com, and get an error, so then try s

[2016-11-17 16:29] AnalogJ commented on #59
@srvrco

That's where I'm confused though. sub1.sub2.example.com is just a record in example.com, atleast for 99% of the providers I've dealt with. I sorry if I'm missing something, I can't think of a use case where a developer will have permissions to add DNS records to `*.sub1.example.com` but not to `*.example.com`. Most services that I know of that assign sub-domains don't give DSN record acce

[2016-11-18 08:44] srvrco commented on #59
What if I ask the question differently ( since sub1.example.com and example.com are both FQDN).   How do you define a domain name ?

Example.com is a domain name on your definition (if I understand correctly ) and sub1.example.com is a record / subdomain within that domain.

what about example.co.uk ? is the domain "co.uk" ?  and example.co.uk a record within it ?

[2016-11-18 23:19] AnalogJ commented on #59
@srvrco
Seems like we're conflating a few different issues here.
`Lexicon` doesn't care about domains, your DNS provider's API does.  If you use `digitalocean`, you can have multiple `domains/zones` registered with it, and the API endpoint that `lexicon` calls to retrieve the record expects a `DOMAIN_NAME`, eg. `example.com` (not `sub1.example.com`)
Most of the DNS providers that we support work i

[2016-11-23 02:26] wizonesolutions commented on #72
acme.sh was the only thing that worked for me with DNS Made Easy. Not lego, not dehydrated + letsencrypt-DNSMadeEasy-hook, not dehydrated+lexicon. But acme.sh worked fine. Impressed.

[2016-11-23 02:28] AnalogJ commented on #72
Hey @wizonesolutions
What issues were you running into with dehydrated+lexicon? I'd like to fix the issue if possible.

[2016-11-23 12:21] wizonesolutions commented on #72
@AnalogJ In `lexicon` itself, `dnsmadeeasy` is broken again, at least when using environment variables to set the username and token. I guess `create_record: False` or something like that. Hope that helps.

[2016-11-25 00:01] killerbees19 opened #74 "Add INWX API"
Basic implementation: https://github.com/inwx/python2.7-client

[2016-11-28 12:00] michaeltravisuk opened #75 "Gandi Records not picking up TTL"
I'm trying to renew Lets Encrypt Certs using dehydrated, using lexicon to handle DNS modifications on a Gandi domain.  New challenge TXT records are being created with a TTL of 3 hours.  I have tried setting --ttl manually but they're always created with the default 3 hour TTL:

`lexicon gandi create platformservices.io TXT --name="testsubdomain.platformservices.io" --content="TEST" --ttl="120"`

[2016-11-29 08:19] AnalogJ commented on #74
Hey @killerbees19
I'm willing to add it, but unfortunately it seems that `inwx` requires a paid account. If you're wiling to be a guinea pig, I can try and throw something together, but I'll have to be next week (I'm traveling at the moment).

If you open a PR, I'll be happy to merge it.

[2016-11-29 08:26] AnalogJ commented on #75
Hey @michaeltravisuk

Good catch. I'm traveling right now so I'm only going to have time to create a quick PR. If the existing unit tests pass I'll kick off a new release, but if not I'll need to debug it when I get back.

[2016-11-29 09:48] michaeltravisuk commented on #75
Thanks for looking at it so quickly.  The fix makes the TTL parameter work.  I also tested without using the TTL parameter and it no longer works.  I have modified our copy of the dehydrated example script to pass a TTL value so it works for me, however I just wanted to bring it to your attention:

`Namespace(action='create', auth_token=None, content='TEST', domain='platformservices.io', identifie

[2016-11-29 17:16] #75 closed

[2016-11-29 17:18] AnalogJ commented on #75
Thanks. Looks like I'm missing a unit test for that. Can you verify that everything is working now?

[2016-12-01 13:52] michaeltravisuk commented on #75
Just tested it now, works fine both with or without TTL flag.

Many thanks!

[2016-12-04 16:16] ghub2015 opened #79 "CloudNS"
@AnalogJ, I created a working version for CloudNS (cloudns.net) API, how would you like it contributed?

(I ask because when I looked [here](https://github.com/AnalogJ/lexicon/pull/78), you said you were traveling and you will add a doc specifying how developers can write and test their own providers.)

I have been using my CloudNS version in production for numerous domains without issue.

Please

[2016-12-09 15:48] michaeltravisuk opened #80 "Unable to create record for delegated subdomain"
I am able to use Lexicon to create records on our top level domain (`platformservices.io`) which is hosted by Gandi, but not our delegated subdomains, hosted in Route53.

I get error `StandardError: No domain found`

Looking at the Route53 provider, it loops through Route53 zones it has found to see where your domain fits:

https://github.com/AnalogJ/lexicon/blob/master/lexicon/providers/route53.p

[2016-12-10 04:54] AnalogJ commented on #80
Hey,
I don't have a route53 associated domain to test with right now. I can add one and do some testing, but that could take some time. Any chance you could throw together a PR with a fix?

[2016-12-10 05:00] AnalogJ commented on #79
Hey @ghub2015
I really didn't mean to ignore your PR. I was working on a deployment all week and I'll be travelling again this weekend. I should have some more time next week to put together a more comprehensive guide on how to test with Lexicon.

However don't let that stop you. If you already have a working provider, **please** contribute it :)
The guide I'm writing will be for devs who aren't f

[2016-12-25 23:19] qnxor opened #81 "'No domain found' on Ubuntu for Cloudflare"
I'm on Ubuntu 14.04.3 and have installed the prerequesites (`pip install --upgrade requests[security]` then `pip install dns-lexicon`), then downloaded your latest `dehydrated.default.sh` script and placed it in `hooks/lexicon/lexicon.sh` in the latest cloned dehydrated package.

Then I did:
[code]

And it spits the following:

[code]

Didn't look in your python code myself yet.

[2016-12-25 23:27] qnxor commented on #81
Just for the record, this hook for cloudflare works fine: https://github.com/kappataumu/letsencrypt-cloudflare-hook

[2016-12-25 23:47] qnxor commented on #81
Same error if I try the CLI directly:

[code]

Whereas querying cloudflare directly via curl works fine

[code]
Listing my full domain DNS records details.

Seems there is a bug somewhere

[2016-12-26 09:27] AnalogJ commented on #81
I use cloudflare almost exclusively for a lot of my Letsencrypt domains, so I'm surprised that you're running into issues.
The only difference I noticed is that it like you're passing in multiple domains at the same time. While that **shouldn't** cause any issues, it's not a use case that I've tested very heavily.

I'll update you once I replicate your issue.

[2016-12-26 13:51] qnxor commented on #81
The last post (just above yours) is using the CLI version of your tool to do a simple query on the domain and that fails too, whereas directly querying via curl works fine. Not sure where the bug is. Could CF have updated anythign on their end?

[2016-12-28 13:37] michaeltravisuk commented on #80
Added PR to allow matching against either domain or subdomain on Route53:
https://github.com/AnalogJ/lexicon/pull/82

[2016-12-30 17:17] brianwells commented on #80
I'm running into the same issue with subdomains delegated to NS1 (nsone) and will see if I can adapt the fix that @michaeltravisuk devised for Route53.

[2017-01-02 21:30] AnalogJ commented on #81
Hey @qnxor

I just ran the command and got a successful response:

Namespace(action='list', auth_token='XXXXXX', auth_username='XXXXXX', content=None, domain='capsulecd.com', identifier=None, name=None, priority=None, provider_name='cloudflare', ttl=None, type='TXT')

Can you confirm that your `DOMAIN.TLD` example is a top level domain, and is correctly registered with CloudFlare?

[2017-01-02 21:32] qnxor commented on #81
Yes, see the direct curl call I posted above which is successful.

[2017-01-03 08:29] kharkevich opened #86 "Yandex PDD support"
Please see the first implementation #83

[2017-01-06 06:49] jmbromley opened #87 "luadns provider script breaks with default ttl"
When leaving ttl unspecified, the script ends up calling the luadns API with the ttl parameter set as 'None' instead of the default.  This results in the call failing.  I'm creating a pull request with a fix for this.

[2017-01-08 18:56] stompro commented on #87
Same problem with dnsmadeeasy provider.

[2017-01-12 11:51] mpb159753 commented on #67
Sorry, just found the notify, I used 300, seems like you could use any TTL you want can't leave it empty.

[2017-01-16 19:56] #68 closed

[2017-01-17 06:24] AnalogJ commented on #87
This should be fixed in #92 for all providers.

Can you try using version `v1.2.1`?

[2017-01-17 06:24] #87 closed

[2017-01-17 15:52] willfarrell opened #93 "route53: boto3 should not be optional"
I've found that `pip install dns-lexicon[route53]` does not install the required dep `boto3`. See error below. Example use/workaround can be found at https://github.com/willfarrell/docker-letsencrypt/blob/master/Dockerfile

[code]

I would submit a PR, but python is a little out of my wheelhouse.

[2017-01-17 16:44] stompro commented on #87
I just tested 1.2.1 on a different vm and it works with no modifications, thanks.
Josh

[2017-01-23 18:30] AnalogJ commented on #93
Hey @willfarrell
I've pulled out route53 in the recent version. I want to make sure that lexicon works in python 2.7, 3.4 and 3.5 but there were some issues with the Route53 and Gandi providers.

[2017-01-23 23:38] willfarrell commented on #93
Thanks for the update.

Just realize pip wasn't pulling v1.2.1, so pushed an update to `willfarrell/docker-letsencrypt`. I'll watch out for new version.

[2017-01-24 06:32] #86 closed

[2017-01-25 03:48] AnalogJ commented on #93
v1.2.2 should be available on pip now as well. Adds support for Yandex.

[2017-01-25 03:48] #93 closed

[2017-01-25 03:50] AnalogJ commented on #79
Hey @ghub2015
I was finally able to write up a guide for contributing to `lexicon`

https://github.com/AnalogJ/lexicon/blob/master/CONTRIBUTING.md

Can you take a look and open an issue if there's anything missing?

I'd love to see CloudNS support added to `lexicon`

[2017-01-25 03:50] #79 closed

[2017-01-25 04:05] #65 closed

[2017-01-25 04:33] AnalogJ commented on #81
Hey @qnxor
Can you verify that you can use the v4 version of the cloudflare api with your token?
I noticed that you were using an older version of their api in your manual call, and I'm wondering if your API token doesn't work with the version that lexicon uses.

[code]

[2017-01-25 04:56] AnalogJ commented on #80
Sorry it's taken so long to back to this issue. I see what you mean now.

Basically I made some incorrect assumptions when designing lexicon. Specifically that the DNS services would be hosting top-level domains. I didn't take into account delegated subdomains.

While your PR does work, I want to see if there's a way I can create a general purpose solution for all DNS providers, without breaking t

[2017-01-25 15:20] qnxor commented on #81
Yep, works fine:
[code]
I'll try your lexicon again later and will report back

[2017-01-25 15:24] qnxor commented on #81
lexicon now works! Exact same command as in my [2nd post](https://github.com/AnalogJ/lexicon/issues/81#issuecomment-269142121) in this thread which failed then ... we should probably write it off to a glitch somewhere else

[2017-01-25 22:36] AnalogJ commented on #81
thats super weird. I guess I'll just close this issue then. Feel free to reopen if it happens again.

[2017-01-25 22:36] #81 closed

[2017-01-28 05:25] ghub2015 commented on #79
@AnalogJ, will do.  (Sorry I didn't get any notification about your update, I just happened to browse and see your update)

My implementation has been working great for me with CloudNS so I would really like to contribute it.

[2017-01-31 03:08] brianwells commented on #80
@AnalogJ: For your review I've submitted a pull request (#97) that may fix delegated subdomains for all the DNS providers.

[2017-02-02 21:25] ctr49 opened #98 "missing exit_hook in dehydrated.default.sh"
Shouldn't we have an exit_hook (event if it's a noop) in the dehydrated hook as per https://github.com/lukas2511/dehydrated/blob/master/docs/examples/hook.sh ?

Without it I'm getting
[code]

[2017-02-03 16:09] #98 closed

[2017-02-04 18:14] AnalogJ commented on #80
This can be closed now that I've merged @brianwells's PR. Version v1.2.3 of `lexicon` has been released with support for delegated domains.

[2017-02-04 18:14] #80 closed

[2017-02-04 18:15] AnalogJ commented on #74
Hey @killerbees19
I'm going to close this issue, but feel free to open a PR at any time.

[2017-02-04 18:15] #74 closed

[2017-02-04 18:18] AnalogJ commented on #79
:) Looking forward to it

[2017-02-14 12:07] mjrider opened #102 "unable to install transip dependencies or use transip plugin"
Output: pip install dns-lexicon[transip]
[code]

after manual installing the transip package i get the following error

[code]

[2017-02-14 12:41] mjrider commented on #102
oke, some more testing...
running `openssl rsa -in transip-api.key -out ./private` on the key makes it work
might need some documentation and/or fixing

[2017-02-17 12:00] nilsbyte opened #103 "Add support for HostEurope"
It's no pure DNS provider, but a big provider for webhosting worldwide. What are the chances to add HostEurope support?

[2017-02-17 20:22] AnalogJ commented on #103
Hey @nilsbyte
 Unfortunately I don't have a an account with HostEurope myself so it's hard to write one for their API,  but I'd be willing to merge a PR.

Here's a link to the [CONTRIBUTING.md](https://github.com/AnalogJ/lexicon/blob/master/CONTRIBUTING.md) if you're willing to contribute one :)

[2017-03-18 07:14] wouck opened #105 "function update_record() in namesilo.py has wrong query parameter"
origin: data['rdata'] = content
modified: data['rrvalue'] = content

[2017-03-26 20:58] AnalogJ commented on #105
hmm, thanks for this. Are you referencing line https://github.com/AnalogJ/lexicon/blob/master/lexicon/providers/namesilo.py#L78 ?

[2017-04-01 19:58] AnalogJ commented on #102
Now that https://github.com/benkonrath/transip-api/issues/18 is closed I should be able to specify the transip library directly. I'll work on a fix for that today.

[2017-04-01 21:32] #105 closed

[2017-04-01 21:57] #102 closed

[2017-04-04 23:42] txr13 opened #113 "trying to develop a new provider"
I'm a total newb at Python... but I really need that GoDaddy provider, so I thought I'd start trying to bang something together.

After following the instructions in [CONTRIBUTING](https://github.com/AnalogJ/lexicon/blob/master/CONTRIBUTING.md), I found that none of the changes I was making to source seemed to be taking effect. I'm not sure I've actually found the issue (because I'm a newb with Py

[2017-04-06 06:23] wouck commented on #105
Sorry for the late. You've fixed it, thank you!

[2017-04-10 16:09] djacobs-markley opened #114 "Trying to test with DNSMADEEASY, authentication is unclear"
dnsmadeeasy provides and API key and an API secret. No username. Trying the key as auth-username and the secret as auth-token does not work. I get "requests.exceptions.HTTPError: 403 Client Error: Forbidden for url: https://api.dnsmadeeasy.com/V2.0/dns/managed/name?domainname=testdomain.com". Looking through lexicon/providers/dnsmadeeasy.py did not clear anything up for me. Can someone please poin

[2017-04-10 16:19] djacobs-markley commented on #114
Sorry, nevermind. You can delete this. The issue seems to be with dnsmadeeasy's sandbox environment. It works fine on the production site.

[2017-04-10 16:19] #114 closed

[2017-04-11 18:09] AlessandroPerucchi opened #115 "Gandi provider in README but not in project"
I am using Gandi, and wanted to use lexicon to speak with it.
Unfortunately the provider is not available publicly. I have found it in the issues... but doesn't work correctly.
I would be nice to correct it and add it to the project!
Thank you in advance for your work :-)

[2017-04-11 18:12] AlessandroPerucchi commented on #115
This is the error I get:
Namespace(action='create', auth_token=None, content='XYZ', delegated=None, domain='test.example.com', identifier=None, name='_acme-challenge.test.example.com.', priority=None, provider_name='gandi', ttl=None, type='TXT')
Traceback (most recent call last):
  File "/usr/local/bin/lexicon", line 11, in <module>
    sys.exit(main())
  File "/usr/local/lib/python2.7/dist-packag

[2017-04-12 09:07] AlessandroPerucchi commented on #115
I have found the problem in fact, I was putting a . (dot) at the end of the NAME part to have a FQDN, and Gandi refuses that by sending that error.
I've corrected it, and now it works.

The problem now is either to include the gandi provider OR to remove it from the README.

[2017-04-12 09:34] AlessandroPerucchi opened #116 "Problem with sub-subdomain"
I have a host test.internal.example.com.
I would like to add an entry in the DNS, which is responsible for the internal.example.com dns subzone.
Lexicon will cut the hostname like this:
test.internal   +   example.com
instead of   test + internal.example.com

Would it be possible to correct it?

[2017-04-12 09:38] AlessandroPerucchi commented on #116
sorry my bad, I should have used the option --delegated internal.example.com...
Not an issue, just a user issue!

[2017-04-12 09:38] #116 closed

[2017-04-13 06:51] AnalogJ commented on #115
Hey @AlessandroPerucchi Yeah the Gandi provider was removed in a previous version because it was broken in a couple of different versions of python.

If you can fix it up and get it passing the tests, I'd be happy to merge a PR! :)

[2017-04-24 18:59] AnalogJ commented on #113
Woah, I really thought I had responded to this, sorry about that.

I updated the contributung guide. You should try `pip install -e .` instead.

[2017-04-24 19:04] AnalogJ commented on #79
Hey @ghub2015 Is there any help you need to get `CloudNS` added?

[2017-04-27 21:03] AnalogJ commented on #113
Hey @txr13
Did that work for you?

[2017-04-29 02:28] txr13 commented on #113
Hi @AnalogJ! Sorry, I saw the change, but I haven't had a chance to test it quite yet. (I just finished figuring out how to rebase my branch to integrate the updates that have taken place since I last touched it.)

But I just tested it now, and I confirm that my changes to the provider file are now visible. Thank you! I'll start trying to muddle my way through Python now... or in a couple weeks, w

[2017-05-01 20:53] zjs opened #124 "Lexicon providers invoke `print` directly, making it difficult for calling code to suppress or redirect output"
Currently, the convention for providers is to invoke `print` directly. For code using Lexicon as a library, it would be helpful to use a pattern that allows for suppressing or redirecting output (e.g., to a log file).

Perhaps this is already possible, but I don't see a way to do so.

[2017-05-03 19:47] AnalogJ commented on #124
Hey,
Yeah, thats actually on my list of things I wanted to fix.
Basically using the Python [logging](https://docs.python.org/2/library/logging.html) standard module to replace all the `print` statements.

If you can open a PR I'd be happy to merge it. Otherwise I should be able to get to this in a week or 2.

[2017-05-11 06:37] #124 closed

[2017-05-12 18:20] #115 closed

[2017-06-15 21:39] AnalogJ commented on #115
re-added support for `gandi` in #130 (`v2.1.6`)

[2017-06-22 05:20] david-rahrer opened #132 "Fix logging TypeError (digitalocean.py)"
[This same issue](https://github.com/AnalogJ/lexicon/pull/128/commits/903af58378ab9942d817c57e0330b5f7ac26b4e9) exists in `lexicon/providers/digitalocean.py` line 111. The same edit is needed to fix it.

The error generated is:
[code]
That section is:
[code]

[2017-06-22 17:53] AnalogJ commented on #113
Hey @txr13
GoDaddy support was added in #131 [v2.1.8](https://github.com/AnalogJ/lexicon/releases) so I'll close this PR.

If you ever need help adding another provider, I'm around :)

[2017-06-22 17:53] #113 closed

[2017-06-22 20:40] txr13 commented on #113
Yeah, I completely failed at trying to write something up. But then, looking at the new provider, I'm not sure I would have figured it out on my own, either...

Thanks again for your assistance! Looking forward to using that new GD provider. :)

[2017-06-30 22:50] AnalogJ commented on #132
damn. I wonder how many other places this has creeped in.

[2017-07-11 22:10] Tea23 opened #138 "Namesilo throwing an exception on create if a record already exists"
The Namesilo provider halts with an exception on create if a record already exists. The comment suggests that it should be doing nothing if the record already exists.

Let's Encrypt dns-01 validation doesn't seem to work with wildcard A records, so the theory here is to have my hook create an A/AAAA record when issuing a cert. However the exception prevents this from being possible.

[2017-07-12 19:22] AnalogJ commented on #138
hmm. I'll take a look at this. The test suite should already test for this usecase.

[2017-07-17 07:28] #132 closed

[2017-08-11 01:01] erenfro opened #142 "Route53: Public and Private Zones can't be distinguished."
I've been testing out lexicon for updating DNS records via Route53, and I have a Public and Private Zone with the same domain name.
I noticed that lexicon is only searching for the domain name by name, so in my case, my internal zone was the first created and so it's the only thing lexicon itself finds for my domain name.

I was going to have it update a record for my home IP address for dynamic I

[2017-09-07 07:34] Stollie commented on #142
I have the same problem.

I think the best option would be to implement the "--identifier" option for Route53.

`lexicon cloudflare delete www.example.com TXT --identifier="route53 ZoneID"`

Like the example of cloudflare
`lexicon cloudflare delete www.example.com TXT --identifier="cloudflare record id"`

I've made a fork and I hope to have time this week to make a pull request.

[2017-09-11 16:08] AnalogJ commented on #142
@Stollie @erenfro Would the delegated domain work done in #136 help you guys?

[2017-09-11 17:40] Stollie commented on #142
I'm using delegated domain to get "example.staging.example.org" data into the right Hosted Zone.
But r53_client.list_hosted_zones_by_name outputs:

| Domain name | Type | Record set count  | ZoneID|
|-----|----|-----|-----|
| staging.example.org. | Private | 7  | KFAOE |
| staging.example.org. | Public | 7  | ZAIA9 |

And lexicon will pick the first, this Hosted zone cannot be accessed by for exam

[2017-09-13 11:12] hontvari opened #143 "Support for DnsMadeEasy internal ANAME record type"
An ANAME record in DnsMadeEasy is an alternative to CNAME records, it has the same format.

The difference is that ANAME is dynamically converted to an A record when the DNS server receives a query for the A record. It is a bit faster than CNAME, but its main advantage is that it can be used on the root of the domain. You cannot use a CNAME on example.com, but you can configure an ANAME on it. An

[2017-09-19 15:16] fabiorauber opened #144 "Environment variables with PowerDNS Provider do not work"
I'm trying to use the following environment variables to configure the PowerDNS provider:
[code]

But running "_lexicon powerdns list domain.com TXT_" gives:
[code]

Running with the switch works fine:

[code]

Am I doing anything wrong?

[2017-09-19 15:37] AnalogJ commented on #144
Only auth parameters can be passed via environmental variables.
You can use `LEXICON_POWERDNS_TOKEN=a_valid_token` but your command should include `pdns-server`:

`lexicon powerdns list domain.com TXT --pdns-server https://a.valid.powerdns.server.com`

[2017-09-19 16:15] fabiorauber commented on #144
Humm, that explains it. Do you think it would be useful for everyone to have this feature?

[2017-09-19 17:38] AnalogJ commented on #144
It could be useful, but it would definitely require a re-write of the options parser. The idea is that secrets can be passed via environmental variables, while all other options can be passed on teh commandline.

If you still wanted to specify your server name via env variable, you could do it like this:

`lexicon powerdns list domain.com TXT --pdns-server $PDNS_SERVER_URL`

[2017-10-06 03:58] bviktor opened #145 "Namecheap support"
Guys, what's the status of Namecheap support? I see there's a pretty old branch and even a prototype of sorts committed, is there any roadmap for this to happen? I'd really appreciate it :-)

[2017-10-06 04:02] bviktor commented on #145
There's another fella hacking on the Namecheap API for Let's Encrypt support, it might be of help:

https://github.com/wdouglascampbell/dehydrated_namecheap_dns_api_hook/blob/master/namecheap_dns_api_hook.sh

Though I assume it's lack of time instead of lack of info :)

[2017-10-06 08:01] foxundermoon opened #146 "zeit support"
https://zeit.co/api#post-domain-records

[2017-10-07 06:00] #144 closed

[2017-10-16 20:49] Stollie commented on #142
I have created a pull request to add the "--private-zone" argument. To only search for Private Hosted Zones when true and Public Hosted zones when false. Without the argument it just behaves as before.

[2017-11-04 23:35] AnalogJ commented on #146
Hey @foxundermoon I'm more than happy to merge a PR for zeit.

[2017-11-04 23:37] AnalogJ commented on #145
Hey @bviktor ,

I think the issue with the Namecheap provider is that it requires a paid account, and I don't have one to test with.

If you're willing to be a guinea pig, I'd love to merge in the namecheap branch.

[2017-11-05 11:35] bviktor commented on #145
I'd gladly test it, how do I?

[code]

?

[2017-11-14 06:22] #103 closed

[2017-11-14 06:22] #56 closed

[2017-11-14 13:06] jokester opened #150 "What is the supposed way to install `babel`"
I found that when I `pip install dns-lexicon`, `babel` does not get installed as a dependency. Is it supposed to be installed explicitly?

This caused some downstream consumer to fail, like in [this docker image](https://github.com/adferrand/docker-letsencrypt-dns).

[2017-11-14 17:37] AnalogJ commented on #150
Hey @jokester
Some providers require [additional packages](https://github.com/AnalogJ/lexicon/blob/master/setup.py#L87-L92) to work correctly.

The [setup section](https://github.com/AnalogJ/lexicon#setup) gives an example of how to install them

[code]

That Dockerfile will need to be updated to install either all the optional dependencies by
- running `pip install -r requirements.txt`
- or loopi

[2017-11-14 17:37] #150 closed

[2017-11-15 02:58] jokester commented on #150
@AnalogJ Thanks for your quick answer (python dependencies is definitely mysterious to me). I'm going to PR there. 👍

[2017-11-24 03:35] init-js opened #151 "nsone -- list index out of range."
using dns-lexicon 2.1.11

I'm getting a list index out of range in the process of cleaning up acme/certbot TXT records on nsone.

[code]

The current record list for TXT records is (from the nsone panel):

![image](https://user-images.githubusercontent.com/1110751/33194468-0735c3b6-d085-11e7-91a2-f99b7b658957.png)

Has there been an nsone response format change?

[2017-11-24 03:51] init-js commented on #151
Adding more info.

Dumping the record information before processing reveals that the problem is with nsone "linked" records.

[code]
In this case. www.sitelabs.io is linked to sitelabs.ca

I'll let you decide whether you should recurse (and fetch the linked record), just fake a CNAME, or just skip, but that's a corner case that needs special treatment in any case.

[2017-11-25 07:12] #142 closed

[2017-11-25 22:16] AnalogJ commented on #151
Hmm, I'm not really familiar with NSOne's link feature. Is this something you can open a PR to fix?

[2017-11-25 22:16] #146 closed

[2017-11-25 22:18] AnalogJ commented on #145
Hey @bviktor , I had to fix an issue with the way that environmental variables were handled.
It should be good to go now. If you want to fork off @pschmitt 's branch, and then add the integration test recordings, then I can definitely merge the PR.

The testing instructions are in the CONTRIBUTING.md file.

-Jason

[2017-11-25 22:26] init-js commented on #151
It's a way for nsone users to de-duplicate dns record information, without requiring dns clients to pay the price of a CNAME. It effectively makes a record a symbolic link to another one on their database.

https://ns1.com/articles/cname-alias-and-linked-records

I'm happy to patch it, but should the "linked" status be exposed in the lexicon output? Fetching details for a linked record would requi

[2017-11-26 21:33] pavinjosdev opened #152 "DnsMadeEasy authentication issue"
Hey everyone,

Dnsmadeeasy is throwing an exception with the following command:
`lexicon dnsmadeeasy --auth-username="xxxx" --auth-token="xxxx" list mydomain.com TXT` where `auth-username` is API key & `auth-token` is Secret key.

[code]

I've already made sure the keys are correct. Appreciate any tips on troubleshooting this.

Kind regards,
Pavin Joseph.

[2017-11-27 17:30] AnalogJ commented on #151
Looking at what you said, I think it would make sense to fake a CNAME record for it, with another API lookup.

I don't think there's an example of another provider doing anything similar, unfortunately.

[2017-11-27 17:37] AnalogJ commented on #152
Hey Pavin,

Unfortunately I don't have a personal DNSMadeEasy account, so its a bit hard to test it myself. However it does look like we're using v2.0 of the API, which is the latest one mentioned on the website, and the provider does have working recordings, which means it did work some someone in the past.

If I had to guess, this sounds like an parameter/documentation error.

You you sure you a

[2017-11-27 17:39] AnalogJ commented on #143
Is the idea that you would want to create ANAME records? or just retrieve them?

[2017-11-27 17:54] hontvari commented on #143
I would like to change the domain the ANAME record points to. For example there is an ANAME record, named www.example.com which points to proxy1.example.com. I would like to modify this record so that it will point to proxy2.example.com.

[2017-11-27 18:17] AnalogJ commented on #143
Ah. In general the idea behind lexicon is to create a universal tool to modify and update DNS services.

I think it would be interesting to support service specific customizations like this, but it would require a bit of re-architecting, and isn't possible with the current design right now.

[2017-11-28 03:26] hontvari commented on #143
I understand, thank for the response. They submitted ANAME to IETF, https://tools.ietf.org/html/draft-ietf-dnsop-aname-00, but it does not seem to be active, it had been expired a few days ago.

[2017-11-28 03:26] #143 closed

[2017-11-28 10:21] pavinjosdev commented on #152
Hi,

Yes, I've checked these values using the official Dnsmadeeasy perl scripts and was able to authenticate.

I'm using v2.0 API. There is a sandbox environment for testing it [here](http://api.sandbox.dnsmadeeasy.com/V2.0/account/new).

[2017-11-28 12:06] nydr commented on #152
I've opened a PR which should resolve this. I suspect it's caused by Babel depending on the `en_US` locale being installed on your machine so I replaced that part with the python standard library

[2017-11-28 19:30] pavinjosdev commented on #152
Its working now. Thanks for the fix.

[2017-12-01 19:01] rorpage commented on #152
@pavinjosdev Did you clone this repo and branch and build/run it locally?

[2017-12-01 19:24] AnalogJ commented on #152
v2.1.13 is now released and includes a fix for this issue.

[2017-12-01 19:24] #152 closed

[2017-12-06 23:17] init-js commented on #151
Created PR https://github.com/AnalogJ/lexicon/pull/157 .

[2017-12-07 13:34] maciekish opened #158 "Zoneedit support"
Any chance for Zoneedit support please? Seems like there is an API http://forum.zoneedit.com/index.php?threads/dns-update-api.419/

[2017-12-10 17:42] AnalogJ commented on #158
Hey @maciekish
I'd love to add it. Are you willing to contribute/open a PR?

[2017-12-10 17:51] AnalogJ commented on #151
This should be fixed now. Closing.

[2017-12-10 17:51] #151 closed

[2017-12-10 17:52] AnalogJ commented on #158
I've also added it the README.md.

[2017-12-24 23:53] david-rahrer opened #159 "How do I upgrade Lexicon?"
This may be a stupid question, but I haven't found it addressed anywhere. I've just checked and my current version is 2.10 from when I installed in July. What is the proper way to upgrade? Thanks.

[2017-12-29 01:07] AnalogJ commented on #159
Hey @david-rahrer
if you installed lexicon via pip, you can just do `pip install dns-lexicon --upgrade`

[2017-12-29 01:07] #159 closed

[2017-12-29 01:07] #158 closed

[2018-01-12 11:33] chewi commented on #158
I'm not too sure but I get the impression that this API has gone away since ZoneEdit changed hands. People have been asking for it more recently and they have said it's not available yet.

[2018-01-12 17:31] AnalogJ commented on #158
@chewi Thanks for the update. Once they release their API, I'm more than happy to add it to lexicon.

-Jason

[2018-01-17 19:40] rbelnap commented on #145
I completed the test recordings, which required some modification to the provider itself to pass tests.  I forked off of the rebased version on https://github.com/polyzen/lexicon, and put in a PR there... but I'm afraid I am not familiar enough with git to see how to update existing PRs here... But the changes are available at https://github.com/rbelnap/lexicon/tree/Namecheap-rebase

Hopefully the

[2018-01-23 10:44] mamash opened #163 "Namecheap support not optional"
Unlike route53 or softlayer and unlike what setup.py suggests, the namecheap provider is not optional in 2.1.17.

[2018-01-23 16:30] #163 closed

[2018-01-23 16:31] AnalogJ opened #165 "Add test to ensure that optional requirements do not break the build"
`namecheap`'s optional requirements weren't actually optional and broke the build. I need to add a test to tox to ensure that at a we can run lexicon without any of the optional deps

[2018-01-23 16:32] AnalogJ commented on #145
`namecheap` support (with a small fix) was added in v2.1.18.

Thanks for pushing this through.

[2018-01-23 16:32] #145 closed

[2018-01-23 16:33] AnalogJ commented on #163
Thanks for the heads-up @mamash
I've released a new version of lexicon with a fix for that issue.

[2018-02-10 02:04] alexzorin opened #170 "docs: Certbot documentation"
Hi, love the idea and execution of your project.

At the moment your README primarily only refers to dehydrated as an ACME client.

IME the majority of users of Let's Encrypt end up seeing and trying Certbot before any other client. I think it would be tremendously helpful to both projects if lexicon could include some words on how to use it with Certbot.

[I've written a guide of sorts here](http

[2018-02-10 21:08] AnalogJ commented on #170
Hey @alexzorin
Thats a great idea actually.

There's an example hook file for `dehydrated` in the [examples/dehydrated.default.sh](https://github.com/AnalogJ/lexicon/blob/master/examples/dehydrated.default.sh), and I think that adding one for `certbot` there would make a lot of sense, especially if its paired with a docker image.

Is that something you could open a PR for?

[2018-02-11 16:22] Ezwen opened #171 "[gandi provider] Add support for new Gandi API (dns.api.gandi.net)"
The new Gandi website comes with a new API available at https://dns.api.gandi.net

New Gandi accounts can only use this API, and not the previous one. Therefore it would be great  to add support for this new Gandi API to lexicon for such users :)

thanks for your work on Lexicon!

[2018-02-11 17:29] AnalogJ commented on #171
Hey @Gwend4l

Thanks for your interest. It looks like @sumpfralle and @adferrand are already working on that in #162

Once their work is complete, you should be able to select the Live/REST api using a command line flag.

[2018-02-11 17:31] Gwend4l commented on #171
Indeed, I had not noticed, thanks for pointing that out! Looking forward to the merge :)

[2018-02-14 01:49] alexzorin commented on #170
Yes, I'd be happy to contribute an example Certbot hook when I get the chance.

At the moment I am thinking about how best to direct users with configuring the flags for any Lexicon provider (presently, listening the providers as comments in the hook and pointing them to e.g. `lexicon cloudflare -h`).

Maybe a further/future task could be populating the README or Wiki with per-provider instruction

[2018-02-15 23:50] jvanasco opened #172 "namecheap authentication fails for permissioned domain management"
The following lines check to see if the domain name is returned by Namecheap's API

https://github.com/AnalogJ/lexicon/blob/master/lexicon/providers/namecheap.py#L54-L63

Namecheap's API seems to be halfassed and this won't work as expected.

please bear with me on this, it's going to be odd to explain.

The only domains that seem to appear in this list are ones which are OWNED by the authenticati

[2018-02-16 18:23] jvanasco commented on #172
I started some work on this. no tests or anything yet. i'd appreciate feedback and any example XML pulls from people with other namecheap setups.

https://github.com/jvanasco/lexicon/tree/fix-namecheap_permissions

[2018-02-23 16:45] rbelnap opened #174 "requests logging level exposes credentials"
Currently, when using lexicon, the requests library logs every connection and request to the providers api.  I'm currently only using namecheap, which sadly includes the ApiUser and ApiKey as GET vars.  So, every use of lexicon exposes these values.  This becomes a problem, particularly when using lexicon as a library, when automated scripts expose and log these values.

I'm not familiar with othe

[2018-02-23 16:48] #170 closed

[2018-02-23 17:06] AnalogJ commented on #174
Hey @rbelnap
Yeah, they are printed as debug messages, but as you mentioned there's not really a flag to configure the log level, so everything gets printed.

The best solution here would probably be to set `logging.basicConfig` dynamically via a new top level CLI flag.

https://github.com/AnalogJ/lexicon/blob/master/lexicon/__main__.py#L48
https://github.com/AnalogJ/lexicon/blob/master/lexicon/__

[2018-02-23 17:44] rbelnap commented on #174
Fairly simple, since you helpfully wrote most of it!  requests INFO level is still more verbose than I'd prefer - but at least it doesn't leak secrets.  Of course, all the current logger.debug might be better off as logger.info or higher.   Most of them are displaying the fundamental output you want, which should be higher than debug.

[2018-02-26 08:19] AnalogJ commented on #172
Hey, sorry I'm not sure how I missed this issue.
Let me take a look at this tomorrow and see if I can provide any helpful feedback.

[2018-02-28 22:07] AnalogJ commented on #172
Here's the compare link for anyone else looking to provide feedback

https://github.com/AnalogJ/lexicon/compare/master...jvanasco:fix-namecheap_permissions

[2018-02-28 22:08] #174 closed

[2018-03-01 03:05] sunzhongmou opened #178 "lexicon with dnspod login fails"
lexicon $PROVIDER --auth-username="${DNS_USERNAME}" --auth-token="${DNS_TOKEN}"  create ${DOMAIN} TXT --name="_acme-challenge.${DOMAIN}." --content="${TOKEN_VALUE}"

And the logs we got:
rocessing twer.vip
 + Signing domains...
 + Generating private key...
 + Generating signing request...
 + Requesting authorization for twer.vip...
 + 1 pending challenge(s)
 + Deploying challenge tokens...
deploy_

[2018-03-03 23:12] davejamesmiller opened #179 "AWS Route53 InvalidChangeBatch when adding a record type that already exists"
When authorising a wildcard certificate for Let's Encrypt, it tries to add two TXT records for the same subdomain.

With Memset I can do this in `--manual-auth-hook`:

[code]

(Which is very useful - thanks!!)

But with Route53 I get this error for the second record:

[code]

In the Route53 API I believe they have to be added as [a single record with multiple values](https://serverfault.com/a/6164

[2018-03-05 13:35] bviktor commented on #145
Sorry for the late response. I've tried it today, it worked... for around the 5th time.

Before that I got a lot of "Challenge is invalid!" messages after a few successes. Tried to obtain a cert with 3 hostnames.

Could it be that Lexicon doesn't wait enough until the changes are propagated? I remember the other hook sometimes waiting for like 5-10 minutes, because Namecheap updates extremely slow

[2018-03-05 21:32] polyzen commented on #145
Odd, Namecheap updates seemed fast for me, but that was through the WebUI.

[2018-03-05 23:20] bmw opened #182 "Support multiple records of the same type on an identifier"
In [certbot](https://github.com/certbot/certbot), we use lexicon to create TXT records for a domain to prove to a SSL/TLS certificate authority that the user has control over that domain so the CA will give you a certificate which you can use to set up HTTPS. Due to the way [the protocol](https://tools.ietf.org/html/draft-ietf-acme-acme-09) works, we sometimes have to set multiple TXT records for

[2018-03-08 00:35] AnalogJ commented on #179
Hey @davejamesmiller
Thanks for bringing this to my attention, it's defintely an oversight that applies to multiple providers and record types, not just `route53`.

I'm going to close this issue, and instead track it in #182

[2018-03-08 06:31] trinopoty commented on #182
I've taken a look at the code of the mentioned providers and I believe I can fix the deletion issue in them. The question of whether I can test them on the respective platforms is another question.

[2018-03-08 11:36] davejamesmiller commented on #179
Great, thanks. 😃

[2018-03-08 19:13] david-rahrer opened #184 "Partial credentials error for Route53"
I am trying to use route53 with lexicon and getssl. I have done this just fine with a number of other providers but this is driving me crazy. The API access information is store in env variables with this setup so here is what I am using. I've created a new IAM user with full permissions for route53 and added these credentials as below:

export LEXICON_PROVIDER="route53"
export LEXICON_ROUTE53_USE

[2018-03-09 03:56] david-rahrer commented on #184
After more trial and error and digging through some of the code, I struck on the right setup in case anyone else runs into this. This might have been better asked on the getssl page but there is some crossover so maybe this will help someone.

[code]

[2018-03-09 14:13] #184 closed

[2018-03-10 19:47] #165 closed

[2018-03-10 20:47] AnalogJ commented on #178
pinging @zjs , as he worked on the dnspod provider.

From what I'm seeing, a valid auth_token should work, though the endpoint domains look interesting. Let me take a longer look and see if I can figure it out.
Hopefully @zjs has a better understanding of what could be going wrong here.

[2018-03-14 00:07] zjs commented on #178
I don't think I ever modified the dnspod provider except to tweak some logging, unfortunately. It was one of the providers I tried to integrate with certbot (certbot/certbot#4590), but I had a hard time navigating their documentation and never found the time to get back to that project.

[2018-03-14 20:09] ginkel opened #186 "Debugging Cloudflare failure"
lexicon 2.1.24

I'm using lexicon as DNS provider for dehydrated. Unfortunately, for one of the challenges that dehydrated attempts to register through Cloudflare I am consistently getting a 400 HTTP error:

[code]

Any ideas how to debug this? I'd assume that Cloudflare returns an error in the HTTP response body, but it is currently swallowed...

[2018-03-14 23:14] alexzorin commented on #186
If you are getting desperate, you could try modify `/usr/local/lib/python3.5/dist-packages/lexicon/providers/cloudflare.py`

Adding

[code]

before this line:

https://github.com/AnalogJ/lexicon/blob/a1f5fcdb210db2f29ca3e59e01afd5862744ebde/lexicon/providers/cloudflare.py#L125

[2018-03-15 00:37] lazerhawk opened #187 "(Request) FreeDNS provider support"
FreeDNS doesn't have an API per se, but uses a brutally simple web interface that hasn't changed in years.

[2018-03-15 15:35] bmw commented on #182
@AnalogJ, let me know how you'd prefer I document problems with we find with creating multiple records as we find them (e.g. create a new issue, add a new post here, modify my original post, etc.), but I got a detailed bug report from @Fmstrat at https://github.com/certbot/certbot/issues/5735 saying that creating multiple records doesn't work with nsone. I've copied the relevant bits here for conv

[2018-03-15 15:46] Fmstrat commented on #182
I think this can be altered without changing Lexicon. Take a look here for nsone:

https://github.com/certbot/certbot/blob/master/certbot-dns-nsone/certbot_dns_nsone/dns_nsone.py#L51

And here:

https://github.com/certbot/certbot/blob/7da53819682fe1b320e0e2890d4cc4be0a637303/certbot/plugins/dns_common_lexicon.py#L33

In one of those places (probably nsone if others are working), we could add to th

[2018-03-16 14:54] mikescott opened #188 "[Request] Constellix API"
Constellix is a product of DNS Made Easy. Their API is documentation is here: https://api-dns-docs.constellix.com/

It would be amazing to see this added.

[2018-03-17 20:07] jvanasco commented on #172
This seems to work, but to make a proper PR I'd need someone to provide a response for the API call `namecheap.domains.getInfo` when a domain is owned.  (I don't have the API enabled on my 'owner' account and can't do so without violating a Security Policy)

That will allow me to integrate some changes I made for `test_Provider_authenticate` to run against multiple cassettes.

[2018-03-17 22:24] jvanasco commented on #145
FYI, I think namecheap's api just 'corrected' itself and now expects the username for the username kwarg (before it wanted the email).  their system is really wonky so it's hard to figure out what is going on.

[2018-03-19 18:50] jvanasco opened #191 "Default TTLs don't seem to be implemented"
I noticed this while working a PR for issue #172

When creating a record on Namecheap, no TTL is set:

    https://github.com/AnalogJ/lexicon/blob/master/lexicon/providers/namecheap.py#L65

Looking at a few other providers this seems consistent.  There is an explicit `--ttl` flag, it's just not used.

It might make sense to default TTLs to something short (60s) and then allow the --ttl flag to ove

[2018-03-19 20:35] Fmstrat commented on #182
Hi everyone. I've started a fix that works for ns1, and should work for others while keeping all providers independent to ensure no conflicts. I've got a commit that handles create/delete, but haven't had time to look into update yet. Since I'm new to Lexicon, I'd love if someone could take a quick peek.

Basically, I'm overriding the "--content" option with one that allows you to do:

[code]

Thi

[2018-03-19 21:03] AnalogJ commented on #182
Hey guys,

Sorry its taken so long to get a working solution going. I've been a bit busy, but it's mostly because I kept coming up with completely over-engineered solutions that did too many other things.

Instead I've decided to just to this properly, piece by piece. I've created a new PR #190 that's tracking my changes.

- Basically I've started with a bunch of tests that ensure that each provid

[2018-03-20 18:13] AnalogJ commented on #191
ah, thats definitely wrong. a TTL value passed in via `--ttl` should definitely be processed by lexicon.

You are correct, it looks like `namecheap` does not handle that option correctly, while other providers like `cloudflare` do.

I initially wanted to have a test suite that implemented a TTL test, however I ended up having to remove it due to the fact that the range of acceptable TTL values var

[2018-03-21 00:58] bmw commented on #182
Thanks so much @AnalogJ.

While the Certbot team is also quite busy, if you don't have credentials for any of the providers listed in my initial post and the other developers who have worked on them aren't able to quickly respond, let me know. We're obviously especially interested in seeing this resolved for the providers we're using and can try and pitch in.

[2018-03-23 06:56] AnalogJ commented on #182
Hey @bmw
Looks like I got all the providers you mentioned except `nsone`. Honestly I'm not sure how I got recordings for it in the first place, as it requires a paid account.
Any chance someone on your team has an account and can create recordings in a PR against the `record_set_support` branch?

[2018-03-23 11:38] Fmstrat commented on #182
@AnalogJ, I'd be happy to but I won't be back from vacation until Monday. However, if you want your own testing account, nsone does offer a free account with 50 hosts and 500k queries a month. You have to put in a CC, but they don't charge you unless you go over those limits.

[2018-03-23 14:26] murzick opened #198 ""Exception: No domain found" if there are more than 100 domains in AWS Route53 account"
We have more than 100 domains in our AWS Route53 account. From [docs](https://docs.aws.amazon.com/cli/latest/reference/route53/list-hosted-zones-by-name.html): "Amazon Route 53 returns up to 100 items in each response."

Trying to run this on a domain which is not included in the first 100 listed domains fails with "Exception: No domain found" error message:
[code]

Also from docs: "If the value o

[2018-03-25 06:56] jvanasco commented on #191
I'll include the namecheap fix in my PR

I went through the providers, and these seem to not implement the TTL option.  I might have missed one or two:

* digitalocean
* linode (hardcodes 0)
* namecheap
* nsone
* pointhq

[2018-03-25 15:37] trinopoty opened #200 "Problem with update_record api"
This is not an issue per se. Rather, a design flaw in lexicon.
This issue is not present in providers that have some form of concrete record identifier.
I'll try to explain it.
Almost all providers provide support for multiple records with the same name and type. For example, I can have a record named "test" of type "A" and value "1.1.1.1" and "2.2.2.2". In zonefile, it would look something like t

[2018-03-25 15:42] trinopoty commented on #191
Linode has a ttl option called 'Default' and a ttl value of 0 tells the api to apply this 'Default' ttl.

[2018-03-25 15:44] trinopoty commented on #191
Also, the range of ttl values supported by different providers varies greatly and may change over time. This factor needs to be considered too.

[2018-03-25 17:07] AnalogJ commented on #182
With @trinopoty 's PR for nsone fixes + recordings, all the providers mentioned in @bmw 's list of Certbot plugins are now fixed.

Since it looks like it'll be a while yet until we get all the other providers up-to-spec with the new record set tests, I'm planning on ignoring the new tests on the remaining (unfixed) providers in #190, and releasing a new "minor" version.

Unless you guys have any o

[2018-03-25 17:59] jvanasco commented on #191
The current provider doesn't accept the `--TTL` option from the commandline though.  The `0` is hardcoded into the provider and the default is managed on the server.  Using the `0` as a fallback default seems like the right choice, but the commandline flag in `options` should override it.

[2018-03-25 18:16] bmw commented on #182
Thanks @trinopoty :heart:

@AnalogJ, releasing a new minor version now would be great. Thanks for all your work on this.

[2018-03-25 18:26] trinopoty commented on #182
I have to mention that `update_record` for nsone and a few other providers are broken as mentioned in #200 . It's especially broken for nsone due to the way nsone handles records. Please refrain from using `update_record` if you can.

[2018-03-25 22:30] jvanasco commented on #191
@AnalogJ one quick question - is there a way in your tests setup that I can only one provider at a time?  i can't seem to figure out how.

[2018-03-25 23:25] AnalogJ commented on #191
Hey @jvanasco
Yeah you can do it by running the following:

`py.test tests/providers/test_{PROVIDER_NAME}.py`

Its mentioned in the [CONTRIBUTING.md](https://github.com/AnalogJ/lexicon/blob/master/CONTRIBUTING.md) file, but I should probably call it out better.

[2018-03-25 23:53] AnalogJ opened #201 "Extend the test suite"
We need to add the following tests:

- #200 - update specific record in record set (using query, not id)
- auto pagination?
- #191  - TTL tests should be enabled by default (only disabled on rare providers who do not support it at all).

[2018-03-26 00:28] jvanasco commented on #191
i saw that, but it was failing.

turns out my virtualenv got stuck from one of the brownouts, and `py.test` was linking to an older system install, so I had to use `pytest` (no period). i don't exactly know how or why this happened. it makes little sense.

[2018-03-26 00:44] AnalogJ commented on #191
ah that sucks :(
Hopefully its all working now though

[2018-03-26 01:59] #138 closed

[2018-03-26 02:03] AnalogJ commented on #182
Reopening this, to continue tracking until all other providers are fixed as well.

The above mentioned providers & others I have credentials for have been fixed, and released in `lexicon v2.2.0`

[2018-03-26 02:05] AnalogJ commented on #200
Yeah this is definitely an issue.
I'm working on extending the test suite further to support updates of records in record sets. I'll link that PR to this issue when I get it started.

[2018-03-26 02:07] AnalogJ commented on #198
Hey @murzick
Thanks for bringing this up. If you'd be willing to work on a PR to fix this issue, it'd be appreciated. I'm working on some underlying issues with lexicon test suites that affect every provider, and I probably won't be able to get to this issue for a while.

[2018-03-26 02:11] AnalogJ commented on #188
Thanks @mikescott
I've added it to the list of providers we want to support.

[2018-03-26 02:11] #188 closed

[2018-03-26 02:13] AnalogJ commented on #187
Hey @lazerhawk
I think I looked at this earlier, but from what I recall FreeDNS doesn't support all the standard DNS actions that lexicon expects.

In any case, I've added it to the list of providers we'd like to support. Hopefully someone will have time to dive into the docs and open a PR for it. Unfortunately I won't have time to start adding providers myself for a while.

[2018-03-26 02:13] #187 closed

[2018-03-26 02:16] AnalogJ opened #202 "Credentials for paid providers"
We should ask all paid providers if they would be willing to give us test accounts so that we can create recordings quicker.

In addition we should ask on letsencrypt and provider support forums for volunteers who would be willing to generate recordings for us as we augment the test suite.

[2018-03-26 02:18] AnalogJ commented on #186
Hey @ginkel  are you still having this issue?
Sorry I've been busy working on a different high-priority lexicon issue, and kinda let these other issues fall flat.

[2018-03-26 02:20] AnalogJ commented on #178
hey @sunzhongmou
Are you still having this issue?

[2018-03-26 05:52] jvanasco commented on #202
It would be great if the tests were more pluggable too.  Working with the namecheap provider, the 'domain name' is hardcoded. To make changes and run tests against the real API, this needs an override, such as (in the provider):

    @property
    def domain(self):
        env_domain = os.environ.get('LEXICON_NAMECHEAP_DOMAIN', None)
        return env_domain or 'lexicontest.com'  # fallback to or

[2018-03-26 05:58] trinopoty opened #204 "A list of issues present in lexicon"
I'll create a list of issues that I've come across.
- Issue with update_record mentioned in #200
- No TTL implementation in some providers
- No method to specify accepted value of TTL by different providers
- No policy to handle illegal TTL value in providers
- Unpredictable provider behavior in `create_record`, `list_record`, `update_record` and `delete_record`
- No easier way to specify advanced

[2018-03-26 06:27] AnalogJ commented on #202
not sure what you mean @jvanasco , you should be able to change the domain to anything you want by modifying:

https://github.com/AnalogJ/lexicon/blob/master/tests/providers/test_namecheap.py#L15

`lexicontest.com` is a made up domain that someone else decided to use, it could be anything you set it to.

The only restriction is that we can't vary the domain between provider tests, so if you do cha

[2018-03-26 06:41] jvanasco commented on #202
Namecheap's "sandbox" API is global, so the made up `lexicontest` domain is locked into the account/credentials of that user.  The way the tests are setup with hardcoded domains, everyone who needs to hit the "real" API (new functionality, edits, testing a library change) must edit the test file to change the domain (in addition to deleting the cassettes).

Using a class property, like in my examp

[2018-03-26 06:53] AnalogJ commented on #204
this is great, I started something like this in #201 but I'll probably close that out in favor of this issue.

If you could, could you include links/numbers for any existing issues in your description?

And yes please, I'd like to get a comprehensive list of provider inconsistencies before I start extending the test suite again and contacting developers to make recordings. Updates would be appreci

[2018-03-26 06:54] AnalogJ commented on #201
closing in favor of #204

[2018-03-26 06:54] #201 closed

[2018-03-26 08:00] trinopoty commented on #204
I was thinking more along the lines of matching the provided ttl to the closest one supported by the provider. For instance, godaddy takes a minimum of 600, so providing anything less, the provider will use 600. Something like that.
Let's not have the user worry about exceptions on invalid values.
Additionally, provide a list/range of accepted ttl values per provider so the user can choose between

[2018-03-26 10:29] trinopoty commented on #204
@AnalogJ is it possible to change method signatures or do we have to go with the existing signatures?

[2018-03-26 15:43] AnalogJ commented on #204
@jvanasco I originally looked at wrapping all exceptions by a set of lexicon specific ones, however I decided against it at the time for 3 reasons:

- while there's a finite amount of exception types that we might handle, there's incredible diversity in how they are generated by providers. Also, some providers do not distinguish between various error types, they just return a single error code.
-

[2018-03-26 15:47] trinopoty commented on #204
@AnalogJ I'm considering adding an `options` parameter to all the methods. Instead of depending on `self.options.get`. This will get us more thread safety and less ambiguity.
This `options` parameter can contain all the extra stuff like ttl, mx priority, srv parameters, etc.

[2018-03-26 16:02] jvanasco commented on #204
-1 on the TTL fix. You'll end up with a user expecting to set a TTL to one value, thinking it is set to that value because everything succeeded, and then having it set to a completely different value with no notice. It's usually best to raise the error so users can fix their systems.

For example, My main use of this library now is for managing some cloud services for a multi domain application. I

[2018-03-26 20:48] trinopoty commented on #204
@jvanasco We'll have to find a provider agnostic way of letting the user know about legal TTL values. We can't expect the user to have to change their implementation too much with provider changes.

[2018-03-27 07:01] AnalogJ commented on #182
doh, this should stay open.

[2018-03-27 07:05] #182 closed

[2018-03-28 04:05] jvanasco commented on #204
To handle this in the Namecheap client, I just added a second testclass to the file with the delegated domain. That runs all the tests.

If the user changes to a provider that does not accept the same TTL, the correct action is to raise an Exception alerting them to the valid values, and stop. Coercing their input to the nearest acceptable value is not something this, or any other, library should

[2018-03-28 04:18] jvanasco opened #209 "Tests should support an 'offline only' mode, and fail if a recording is not present."
The way tests are currently implemented, if a recording is not present, they will hit the real API on the internet.

The test suite should be adapted to default into immediately failing those tests.

Why?

If a new test is created upstream and the cassettes are not updated, running the tests (or tox) locally will attempt to connect to the real API from a user or the CI system's network.  Many of t

[2018-03-29 17:05] trinopoty commented on #204
I've tried to create a specification for providers at #211
Review it and suggest necessary changes on the PR.

[2018-04-05 22:42] alexzorin opened #214 "godaddy: test suite is failing, delete throws HTTP 422"
- [Reported on the Let's Encrypt forums](https://community.letsencrypt.org/t/getting-unittest-2-1-1-0-requires-argparse-error/58625/6).
- Test suite fails against provided OTE endpoint and credentials: `tests/providers/test_godaddy.py .......ssFFFsssFsssFFsF.F.FF`
- Confirmed by me against a live domain with live credentials, fails in same way as forum post:

[code]

[2018-04-11 18:18] computersrmyfriends opened #215 "Is creating a zone (new domain) supported?"
Is it possible to create a new domain using lexicon on any of these DNS providers?

Thanks

[2018-04-11 20:43] white-rabbit07 opened #216 "Q: Use lexicon as a fallback solution for DDNS?"
Hi. Just a question ... is it possible to use lexicon as a solution for this scenario:
We use a vServer with a CNAME-record that points to a dynDNS-service. This service failed last days as the domain was suddenly down. So none of our services could be reached any more (especially via LDAPS).
Is it possible to install a fallback DDNS-record using lexicon? Did anybody try this?
Idea: DynDNS1 fails

[2018-04-12 08:38] mekanix opened #217 "Update of bind"
If one hosts it's own DNS server, is it possible to use lexicon? If not, what would be the proper way to support it, given one only needs rndc and key to update a zone? Thank you!

[2018-04-14 16:10] AnalogJ commented on #217
Hey @mekanix , @alexzorin  is correct, we don't have a RFC2136 provider yet.

Are you interested in opening a PR?

[2018-04-14 16:14] AnalogJ commented on #216
Unfortunately there's no provider for `DynDNS` in lexicon yet.

Once a provider has been added, and you have a method of being notified when a `DynDNS` record fails (via a webhook, or just a polling script), then yeah this should be possible with lexicon.

Are you interested in submitting a provider for `DynDNS`?

[2018-04-14 16:26] AnalogJ commented on #209
This is a good idea. VCR.py supports the mode you're talking about: [`none`](https://vcrpy.readthedocs.io/en/latest/usage.html#none)

When I have some time, I'll try to dynamically set the record_mode depending on if the `CI` environmental variable is set.

https://github.com/AnalogJ/lexicon/blob/master/tests/providers/integration_tests.py#L14

[2018-04-14 16:28] AnalogJ commented on #186
Hey @ginkel is this still a problem for you?

[2018-04-14 16:29] AnalogJ commented on #178
Hey @sunzhongmou is this still a problem for you?

[2018-04-14 21:51] alexzorin commented on #214
I think the recordings are fine, but the Live API is failing.

I don't really understand the GoDaddy API nor do I use their services, so I'm not keen to investigate this myself, just cross-posting the issue from the forum.

GoDaddy DNS hosting is usable from a free account (though they delete your zone after some time if it's not attached to a domain).

cc @adferrand

[2018-04-15 05:13] alexzorin commented on #217
Could the testing framework support a non-HTTP provider like RFC2136? It seems to me to be assuming of HTTP (due to the use of VCR).

[2018-04-15 08:00] mekanix commented on #217
@AnalogJ I'm interested, I just don't have any public zone. I did use rndc extensively, so I know how it behaves from sys admin perspective. I'll try to create a bind with a public zone and test it.

[2018-04-15 08:25] white-rabbit07 commented on #216
Interested: yes --
my coding: a disaster :(
But to check if a DDNS-Service works properly it would be enough to curl a file "check.html" with a keyword like "up" in it, right?

[2018-04-16 17:38] jvanasco commented on #209
I think it would make sense to have this disable the live tests by default, then opt-them-in via a LEXICON_LIVE_TESTS variable.

Under the current design there's no reason why the tests should run against the live APIs unless the developer of a provider is running it.

[2018-04-16 17:44] jvanasco commented on #214
This may linked to the issue i brought up in #209.  In that ticket what I noticed is:

1. adding a new test to core requires new recordings
2. the test system hits the live API with invalid credentials
3. godaddy pushes the caller's IP into a blacklist which both forbids and tarpits (rate-limits) at increasing distances (the response takes 2x as long after each attempt).

I think once you fail aga

[2018-04-19 21:38] pmkane commented on #215
I think creating and deleting domains is separate from any registry functions.  So it would still be useful for lexicon to support domain creation and deletion, even if it doesn't get involved with the actual registration of domains.

Two specific use cases where this might be useful:

  1) Testing.  Most providers enforce domain uniqueness across their product, for obvious reasons, so being able

[2018-04-20 06:15] Techman- opened #221 "Error 500 while using Cloudflare"
Hello,

I have encountered a mysterious HTTP 500 error from Cloudflare on one of my servers, and it seems isolated to specifically that one.

[I posted the console output in a pastebin.](https://pastebin.com/TtPrQn4a) At first glance, it looks like my auth username nor token is shown in the debug output, but I have LEXICON_CLOUDFLARE_USERNAME and LEXICON_CLOUDFLARE_TOKEN set using the instructions

[2018-04-23 11:33] DimStar77 opened #222 "Name conflict with lexicon"
There is a confusion/conflict with the pypi package lexicon.

lexicon (https://pypi.org/project/lexicon/) and dns-lextcon (this source) both install as 'lexicon' on the system, thus the 2 can't coexist on the system (they overwrite each other\s __init__.py)

[2018-04-30 13:35] alexbruy opened #225 "Problems executing lexicon"
I'm trying to use lexicon 2.2.1 in the dehydrated hook to update DNS records. However hook always fails with strange error
[code]
But if I execute same command as written in the hook manually everything works as expected, record updated.

Here is command I use

[code]
Any ideas what can be wrong?

[2018-04-30 18:16] AnalogJ commented on #225
If I had to guess, it sounds like lexicon thinks that `TLD_DOMAIN` is empty, so all the arguments are shifted over by one.

Can you verify that `TLD_DOMAIN` is populated when you run lexicon via the hook?

[2018-05-01 22:44] pmkane commented on #221
Techman-:

I'd expect that behavior if you had not exported the environment variables before running dehydrated.

Can you confirm that you have done:

  export LEXICON_CLOUDFLARE_USERNAME=username
  export LEXICON_CLOUDFLARE_TOKEN=token

where "username" and "password" are your username and password, of course, before running dehydrated?

[2018-05-02 06:13] AnalogJ commented on #221
Hey @Techman-

Yeah I think @pmkane  is correct, if your calling `lexicon` via `dehydrated`, you'll need to ensure that the env variables are exported.

I've updated the readme to make that clearer.

Can you confirm that exporting the variables fixed your issue?

[2018-05-02 06:17] AnalogJ commented on #217
Thats an interesting point @alexzorin.
I think its useful to have a RFC2136 provider but we'd probably have to disable the test suite & recordings.

@mekanix I'm willing to help anyway I can.

[2018-05-02 06:26] AnalogJ commented on #209
Yeah, you have a point. I think I was just being a bit selfish, I find my self deleting and re-creating recordings more than regular users/developers would.

I'll take a look at changing the default to `none`

[2018-05-02 06:27] AnalogJ commented on #186
Closing.

[2018-05-02 06:27] #186 closed

[2018-05-02 06:28] AnalogJ commented on #178
Closing.

[2018-05-02 06:28] #178 closed

[2018-05-02 06:29] #172 closed

[2018-05-02 06:31] ginkel commented on #186
Apologies for not responding earlier... I eventually tracked down the error to the challenge already being present in Cloudflare's DNS (due to a failed prior attempt). Maybe it would be a good idea to make sure the API invocations are idempotent.

[2018-05-02 06:37] jvanasco commented on #172
Yep!

[2018-05-02 08:09] mekanix commented on #217
So, I played with RNDC for the past few days, but I would really love to get an advice which Python lib to use for the task. Can you recommend some, given you're dealing with py+dns a lot longer than I do? Thanx!

PS. I've got bind in FreeBSD jail so I can play with it.

[2018-05-02 08:27] alexzorin commented on #217
`dnspython` is what you want. I spent 5 minutes working on it a couple of weeks ago but abandoned my efforts because I have no time for it, but I did identify some ... complications.

My (non-functional) stub is:

[code]

and you can take a look at [Certbot's RFC2136 implementation](https://github.com/certbot/certbot/blob/master/certbot-dns-rfc2136/certbot_dns_rfc2136/dns_rfc2136.py) for an exampl

[2018-05-02 08:33] mekanix commented on #217
All right! This is easier than I anticipated. I'll be working on this in the following days. Thank you!

[2018-05-02 12:25] alexbruy commented on #225
@AnalogJ, thanks for the hint, it was issue with shifted arguments. I think ticket can be closed.

Do think it is worth to handle such situation in a more informative way, e.g. show custom error message?

[2018-05-02 12:25] #225 closed

[2018-05-03 02:27] AnalogJ commented on #186
Oh no problem.

Thats actually one of the big changes we added to the test suite recently. Newer versions of lexicon should be idempotent and support record sets correctly.

[2018-05-04 15:26] trinopoty commented on #222
This can't be fixed without a new major version as far as I can tell.

[2018-05-04 15:41] trinopoty commented on #204
How are we handling providers that support staging of changes? For instance, Route53 has a mechanism where a set of changes is first staged and then _pushed_ in one go. At the moment, there is no mechanism for this in lexicon. Each change is standalone. A provision for staged changes should be added.

[2018-05-04 19:33] trinopoty commented on #204
It is true that this feature is not available for most providers.

[2018-05-04 19:40] jvanasco commented on #204
that's out of scope for the problem that lexicon is trying to solve.

On a similar note, it might be nice to have a `--dry-run` functionality, which would print the computed changes for review, without pushing them.

Why? Some APIs operate on a delta (add/delete a record).  Others operate by downloading, editing, and replacing the entire record set.

[2018-05-06 04:03] Techman- commented on #221
Yes, this solved the issue. However, I've exported my environment variables before on my other servers and it has worked fine. I'm not sure if this was a one-off thing or not, but if it happens again I'll be sure to report back.

[2018-05-06 04:03] #221 closed

[2018-05-06 19:19] tubit commented on #214
I just tried to create a TXT record on my domain at godaddy, this is the command output:
[code]

But however, the TXT record was created:
[code]

If I try to delete the created entry, I got the following output:

[code]

Of cause the TXT record was deleted despite the error message.

[code]

[2018-05-06 20:15] jmaasing opened #227 "digitalocean domain name trimmed to 2 parts"
I'm using lexicon --version
lexicon 2.2.2

Installed by `pip install` on Debian 9.

I'm trying to list the domain 'darkstar.zoom.nu' using the digitalocean provider. However I get the following error:

`lexicon digitalocean list darkstar.zoom.nu A`
`requests.exceptions.HTTPError: 404 Client Error: Not Found for url: https://api.digitalocean.com/v2/domains/zoom.nu`

Which isn't the correct domain.

[2018-05-06 23:13] AnalogJ commented on #227
Hey @jmaasing

Thats a subdomain, not a domain. `zoom.nu` is the domain, and as part of lexicon's authorization process it tries to verify that the domain is registered with the provider before trying to generate a certificate for a subdomain.

[2018-05-10 18:13] jvanasco commented on #222
i'm +1 on renaming the library's install path to `dns_lexicon` to respect the PyPi name and referring to the project as "DNS Lexicon".

[2018-05-12 03:44] AnalogJ commented on #222
Is there a way to do this without affecting users who are already using `lexicon` as a library?

[2018-05-12 06:37] AnalogJ opened #230 "Capabilities system to dynamically enable/disable tests?"
Provider API's can vary significantly.

While the goal of `lexicon` is to provide a provider agnostic CLI/library for manipulating records, the fact that we have a single integration test suite is causing issues.

Enabling & disabling individual tests is one option, but it might be better to come up with a list of "capabilities" for each provider, and disable tagged tests that way.

potential "cap

[2018-05-13 08:38] alexzorin commented on #214
I've done a bit more digging and it looks like the provider is kinda broken.

- GoDaddy API returns empty response body for many of its `PUT` endpoints, but provider assumes a JSON response body, which will always result in a raised error when reading the response.
- Does not support creation of multiple records of the same type (e.g. multiple TXT records just overwrite each other)
- Deletion appe

[2018-05-14 07:03] adferrand commented on #214
Hello, I would like to repair it, but I could not find the time to do it. I'll try to do as soon as I can, but I cannot guarantee a deadline for now.

[2018-05-14 07:07] adferrand commented on #214
By the way, I implemented the provider using the demo, which was by this time a quite difficult to use with a lot of restrictions. @alexzorin, would you like to give me an access to one of your domain for the time of the re-implementation ? It would help me a lot.

[2018-05-14 07:17] alexzorin commented on #214
Thanks @adferrand . I don't have a "real" domain there, I just set one up using a free GoDaddy account and adding a free domain from freenom.com. GoDaddy seems to disable domains not attached to a paid service every 30 days, though.

If you want to avoid signing up I can share my API key and secret with you with my test account and couple of freenom domains, just email me via my GitHub profile.

[2018-05-19 11:18] netcookies commented on #214
+1 for same problems.

[2018-05-24 12:55] IainDouglas opened #233 "Challenge TXT Records placed in wrong domain"
CentOS 7.5
Lexicon 2.2.3
Provider dnsmadeeasy

I am trying to move from dehydrated + another plugin to dehydrated + lexicon for obtaining certificates.

I have domain example.com with subdomain zy.example.com at DNSMadeEasy.
I can obtain certificates for hosts in example.com using lexicon without issue. However certificates for hosts in zy.example.com fail the challenge e.g. xyz.zy.example.com fai

[2018-05-26 19:20] AnalogJ commented on #233
hmm. this should be correctly handled by lexicon. I think we even have a test for it. let me confirm.

[2018-05-27 06:06] kaysond opened #235 "NameError: global name 'namecheap' is not defined"
I'm running the following command on Ubuntu 17.10: ` sudo -H lexicon namecheap list google.com CNAME --auth-sandbox` (I realize its bogus and won't work, but my actual command fails too with the same error.)

and I get the following error:

[code]

I'm using Python 2.7.14. What am I doing wrong?

[2018-05-27 19:49] CapsuleCD commented on #235
Looks like you need to run pip install dns-lexicon[namecheap] to install
the namecheap dependencies
On Sat, May 26, 2018 at 11:06 PM kaysond <notifications@github.com> wrote:

[2018-05-27 20:34] kaysond commented on #235
That was it. Thanks!

[2018-05-27 20:34] #235 closed

[2018-05-30 20:18] trinopoty commented on #204
We may need to do something about [RFC4408](https://tools.ietf.org/html/rfc4408#section-3.1.3)

[2018-05-31 15:18] christiaangoossens opened #237 "TransIP: fails with 'AttributeError: Content has no attribute name'"
After requesting a certificate with the adferrand/letsencrypt-dns container, the TransIP provider correctly creates a DNS entry. However, at the end of the verification timeout, large amounts of soap errors are printed (too much to include), with the following message at the bottom:

[code]
It seems to be related to certbot calling the _cleanup_challenges method.

[2018-05-31 15:18] christiaangoossens commented on #237
This is with lexicon v2.3.0

[2018-06-05 23:18] adferrand commented on #214
OK I took the time to work on godaddy provider implementation. I think I haved fixed all issues, PR will be submitted tomorrow.

[2018-06-06 13:54] artiomn opened #238 "Doesn't work with a Cloudns"
https://github.com/AnalogJ/lexicon/blob/9197c8d9364fe18784d118f1440d6f09415a9785/lexicon/client.py#L14

Look at this pull request, please:
https://github.com/adferrand/docker-letsencrypt-dns/pull/17

[2018-06-09 11:53] adferrand commented on #238
So what you are saying (yes, I contribute also a little on lexicon) is that your pr I merged for my Docker allows to circumvent a limitation on lexicon for cloudns, right?

If I understand well, standard processing in lexicon is to strip down the subdomain from domain given as parameter to lexicon. That is because most of APIs wait for the top level domain and act on it to manipulate subdomains. B

[2018-06-09 11:59] adferrand commented on #238
Or for your case it is because you delegated the subdomain gestion to an independent secondary zone, so in fact your "domain" should be really the complete given parameter including the subdomain, because it is indeed related to the secondary zone where the modification should be done.

In this case, the limitation is not restricted to ClouDNS, but apply to any provider. Then we need an option on

[2018-06-09 12:07] adferrand commented on #238
... Which seems to be the purpose of the delegated option. It seems to be used when a subdomain gestion is delegated by the main domain to a secondary zone.

If you put the subdomain part in delegated option, it seems from the code that the "domain" key in options will contain the subdomain part.

Could you test that ?

For my concern, LEXICON_OPTIONS stays really necessary for delegated domains,

[2018-06-09 12:19] adferrand commented on #237
So first, you can resync your fork with my master, since I made a new release with lexicon 2.3.0.

Second, I made the PR #243 on lexicon for a problem on transip. Definitely your issue could be related. Since you have a fork, could you apply the PR code modification and check if it correct your error ?

[2018-06-09 13:08] adferrand commented on #233
Looks really similar to #243.

FQDN specified is xyz.zy.example.com, and lexicon interpret the domain to be example.com and subdomain to be xyz.zy. The option "delegated" should help by setting it to "zy". With this, lexicon will interpret correctly the domain to be "zy.example.com".

[2018-06-09 13:19] adferrand commented on #227
I continue my tour with delegated option (two others issues related to this).

For @jmaasing, "darkstar.zoom.nu" is really the domain, in fact a delegated domain from main domain "zoom.nu", as the direct API test with curl shows it.

But lexicon does not know that, and will automatically trim given domain to "zoom.nu".

@jmaasing, you need to use the "delegated" option set to "darkstar" to ensure

[2018-06-09 13:29] adferrand commented on #222
Developpers will need ultimately to update their code. But you can ease the migration path by exposing a dummy lexicon module, which delegates everything to the dns_lexicon module. Then deprecates lexicon module and put warnings when it is used to advertise users that lexicon namespace will be removed soon.

[2018-06-09 13:33] adferrand commented on #200
For godaddy, I solved the issue by implementing a pseudo identifier, which is a hash calculated on the existing record data. It is available only until next modification, but at least you can target one record.

But it is rather specific to each provider which does not have an identifier.

[2018-06-09 15:29] jmaasing commented on #227
Thanks, but I wrote my own dehydrated hook file to talk to Digital Oceans API so I'll close this issue.

[2018-06-09 15:29] #227 closed

[2018-06-09 18:07] AnalogJ commented on #209
closed by #242.

[2018-06-09 18:07] #209 closed

[2018-06-09 20:01] AnalogJ commented on #237
Hey,
With the release of lexicon `v2.4.0` I'm hoping this is fixed.

I'm going to close this for now. If this is still an issue, please reopen.

[2018-06-09 20:01] #237 closed

[2018-06-09 21:58] sizgiyaev opened #244 "Route53 problem: Tried to create resource record set [name='_acme-challenge.host.domain.com.', type='TXT'] but it already exists"
The issue log:
```An error occurred (InvalidChangeBatch) when calling the ChangeResourceRecordSets operation: Tried to create resource record set [name='_acme-challenge.host.domain.com.', type='TXT'] but it already exists```

Isn't there a way to overwrite the record?

[2018-06-10 01:43] alexzorin commented on #214
Appears to be fixed by #241 , thanks!

[2018-06-10 01:43] #214 closed

[2018-06-10 21:50] AnalogJ commented on #244
You can use the `update` action to modify an existing record.

[2018-06-11 12:53] sizgiyaev commented on #244
I'm using lexicon with acme.sh.
So, how it looks like with this command: `/.acme.sh/acme.sh --issue -d web.domain.com -dns dns_lexicon`?
I give it the provider and the credentials through env vars, like:
[code]

Also, if the record doesn't exist, will it create it if i use update action?

[2018-06-12 11:02] alexzorin commented on #244
@AnalogJ this appears to be an example of #182

All usage of Lexicon the wild, including the example hooks for dehydrated and Certbot in this project, rely on the ability to `lexicon {provider} create` a TXT record. The inability to create a TXT record because another TXT record with the same label exists appears to be a misalignment between Route53's and Lexicon's interfaces.

I think the Lexicon

[2018-06-12 16:17] AnalogJ commented on #244
Yeah, adding support for record sets to Route53 (and a couple other providers) is still necessary.

From what I've seen regarding LetEncrypt clients (like dehydrated, Certbot, Acme.sh) they are usually pretty good about cleaning up after themselves on success (by calling `lexicon delete`).

Once we get the remaining lexicon providers updated to support record sets, this will be almost a non-issue,

[2018-06-16 22:46] artiomn commented on #238
Yes, it works, with the settings, like this:
[code]

[2018-06-17 17:12] AnalogJ commented on #238
awesome. I'll close this issue then.

[2018-06-17 17:12] #238 closed

[2018-06-17 17:17] AnalogJ opened #248 "Add a test suite to ensure that lexicon works when called as a library."

[2018-06-17 17:19] AnalogJ commented on #217
Hey @mekanix
Anything I can do to help here?

I'll just close this issue for now until your PR is opened.

[2018-06-17 17:19] #217 closed

[2018-06-17 17:20] AnalogJ commented on #233
This should be correctly handled by delegated domains.

I'm going to close this for now, but feel free to reopen if its still a problem.

[2018-06-17 17:20] #233 closed

[2018-06-17 17:22] AnalogJ commented on #216
Hey @white-rabbit07
I'm going to close this issue for now, as it doesn't seem like theres any issue with lexicon here.

If you do end up writing a DDNS provider and run into any problems, feel free to open another issue.

[2018-06-17 17:22] #216 closed

[2018-06-19 00:22] alexzorin opened #249 "godaddy: hidden dependency on urllib3 breaks Lexicon"
#241 snuck in an undeclared dependency onto `urllib3`.

I found out today when trying to use an unrelated provider (Route53) and Lexicon immediately crashed.

[code]

urllib3 should be avoided or declared for `godaddy` in `setup.py`:

https://github.com/AnalogJ/lexicon/blob/5f905a4707249757d10ad8afbb55aae79a09aa1a/setup.py#L88-L94

cc @adferrand

[2018-06-19 01:15] alexzorin commented on #249
Seems that this is less straightforward than I thought.

urllib3 appears to be a transitive dependency of dns-lexicon via requests, but urllib3 not being installed can be reproduced by installing certbot-auto then,

    cd /opt/eff.org/certbot/venv
    source bin/activate
    pip install dns-lexicon dns-lexicon[route53]
    pip list | grep requests
    pip list | grep urllib3

You will see that `r

[2018-06-19 01:20] #249 closed

[2018-06-19 03:16] alexzorin commented on #244
That's great that RRSet support is coming.

My only note,

This relies on the order of operations to be successful. If you create delete create delete, it works fine, but create create delete delete is presently impossible (i.e. how Certbot invokes manual auth hooks ... which means the Certbot example hook I added in this repo is busted).

I strongly believe that the meaning of "lexicon create" sh

[2018-06-19 16:13] AnalogJ commented on #249
Hey @alexzorin

That is weird. The only provider that directly depends on `urllib3` is godaddy, but like you noticed it should be installed automatically by the `requests` dependency.

https://github.com/requests/requests/blob/991e8b76b7a9d21f698b24fa0058d3d5968721bc/setup.py#L54

I'm not quite sure how your installation in `certbot-auto` differs from normal, but I'm happy help out.
Do you have an

[2018-06-19 16:32] adferrand commented on #249
Yep, I used urllib3 because Godaddy API is really gross. It does not accept any new request during DNS entry deployment 😑. So I need to retry the next request until it is accepted, and this kind of behavior is provided by urllib3. But as said, it is a transitive dependency of request, and I did not see any error during my development and tests.

[2018-06-25 05:28] samuelchong commented on #198
Checking out source and found an undocumented option. It works.
--delegate [subdomain]

[2018-06-25 10:16] apognu opened #251 "[CLI] Pretty output for list method"
Is there any plans to have pretty outputs (table or at least formatted) for the ```list``` operation on the CLI?

Right now, the CLI assumes a verbosity of DEBUG level, and outputs the Python representation of the result (managed by the provider). If --log_level=ERROR is used, no output is generated, which defeats the CLI usage, in my opinion.

Is this behavior expected? Would you be open to a PR

[2018-06-26 18:23] elyscape opened #252 "Azure DNS provider"
It would be nice if lexicon supported [Azure DNS]. Azure DNS has [a REST API][REST] but, given that there are [numerous forms of credentials][creds] (like with AWS), it might make sense to use [the Python SDK][SDK], like in the Route 53 provider.

[Azure DNS]: https://azure.microsoft.com/en-us/services/dns/
[REST]: https://docs.microsoft.com/en-us/rest/api/dns/
[creds]: https://docs.microsoft.com/

[2018-06-27 19:35] bagintz opened #253 "Return value for list?"
I very well might be looking at this wrong, but it appears that out of the box the "executable" that gets installed for linux can't actually get the list results as a return variable, only as a stdout debug message?

[2018-06-27 20:48] clayshieh opened #254 "Cpanel Support for Shared Hosting providers"
I wrote a python library to interact with my shared hosting provider's dns settings which are exposed via cpanel here:
https://github.com/clayshieh/PyCpanel

Haven't gotten around to cleaning it up to support WHM and API V1 yet but I think it would be a nice addition as a generic driver to lexicon so that it can support a number of providers that use cPanel (e.g. GoDaddy, Bluehost, HostGator, etc.

[2018-06-27 21:21] ckuai opened #255 "Softlayer DNS Forward Zones issue"
Hello,

I am not sure if this is a Bug or not supported Feature.

I have a issue to get softlayer works with DNS Forward Zone and with Certbot manual it works with some hack. For example
1. create a DNA Forward Zone as "sub.example.com" on Softlayer DNS Forward Zone
2. then in that zone I add addition A records for my sub domains under test.example.com such as
env1.test.sub.example.com
env1.api1.t

[2018-06-28 02:12] ckuai commented on #255
never mind, it was my mistake. I didn't setup my DNS record correctly.

[2018-06-28 02:12] #255 closed

[2018-06-28 05:21] AnalogJ opened #256 "logos?"
- https://thenounproject.com/search/?q=convert&i=397964
- https://thenounproject.com/search/?q=convert&i=203712
- https://thenounproject.com/search/?q=convert&i=216627
- https://thenounproject.com/parkasever/uploads/?i=426419

[2018-07-04 04:59] rwjs opened #258 "[Regression on #PR-203] CloudNS authentication broken when `auth-id` supplied"
Provider CloudNS fails to authenticate when using auth-id for authentication, rather than auth-subid or auth-subuser.

Line 146 in lexicon/providers/cloudns.py  reads `if self.is_given_option(self.options['auth_id']):`. It should instead should read `if self.is_given_option('auth_id'):`.

I've inlined a patch below which fixes this. Sorry if this is more effort for you than a PR.

    --- cloudns.

[2018-07-10 22:44] clayshieh commented on #254
@alexzorin there's not really a way to check if the zone edit module is enabled on the user's feature list other than just sending the request and seeing if the response is successful. A weaker but reasonable assumption could be to use the fetchzone_records function in the Zoneedit module (refer to the get_records() method in my code) in the __init__ function to check if the user has access to Zon

[2018-07-11 17:55] AnalogJ opened #262 "RecordSet Support - Route53"
Code Owner: @eadmundo

Work needed:
Skipped tests need to be reenabled - https://github.com/AnalogJ/lexicon/blob/master/tests/providers/test_route53.py#L38-L46

Provider needs to pass re-enabled tests and new recordings need to be created

[2018-07-11 18:01] TheGammelgalopper opened #263 "Is certbot.default.sh still automatic?"
Hey,
thank you for this awesome tool! It works way better than the certbot plugins and I had no headaches setting it up!

I have one question though. There is this one section in `certbot.default.sh`, where it says:

[code]

Currently certbot is being started with just `sudo certbot`. Does it still mean that it keeps itself updated?

Or do it need to do `certbot renew` after 90 days?

Or do I crea

[2018-07-12 07:13] adferrand commented on #263
This script ensures only the creation of a new certificate using lexicon to insert relevant records in the dns zone.

Certificates renewal and certbot auto-update depend on what you use of certbot functionalities.

If you follow the provided example, the certbot executable will update itself, because you invoke it through certbot-auto.

About certificates renewal, it is a different process which c

[2018-07-12 07:16] adferrand commented on #256
I like the first one, really simple, really clean.

[2018-07-12 07:21] adferrand commented on #253
You mean, despite the fact that as a library, the list_records python method returns the list?

And you would like to be able to do in bash something like :
[code]

I will check that.

[2018-07-12 07:34] adferrand commented on #252
About authentication, after quick review, it seems that only relevant headless authentication procedures are the two first ones (token and file), and in fact they are the same, as the file approach is just a handy way to persist all elements required to create the token.

It seems for the principle quit close to what is used with Google Cloud DNS, and I just made a PR on lexicon to implement the p

[2018-07-12 07:52] adferrand commented on #248
Is it really needed? I mean, in the existing integration tests, lexicon is already invoked as a library, and there is no real difference between making an import in a test class or in a normal class.

What would be relevant also, would be to fake a pip install and invoke lexicon as an executable through os.system, to ensure that a bash script can use lexicon.

[2018-07-12 07:58] adferrand commented on #251
Very close to #253. Definitely without the logger, there is no real output to the command line.

I also agree that default log level in cli should be higher, like WARN, and lexicon should return an output to cli.

[2018-07-12 16:29] adferrand commented on #171
I think that issue can be closed, as we implemented the gandi provider on top of the rest api in #247.

[2018-07-12 18:18] AnalogJ commented on #256
Yeah I liked that one too. I'll just set it in the readme for now.

[2018-07-12 18:24] #256 closed

[2018-07-12 18:49] elyscape commented on #252
I can hook you up with credentials for a dummy zone, sure. Contact me via email or on Freenode and we'll make it happen.

[2018-07-12 19:29] AnalogJ commented on #252
Hey @elyscape
Thats a good idea, I've added Azure DNS to the README as a potential provider.

I don't personally use Azure DNS, but it seems like @adferrand is interested in working with you to write a provider, so thats great.

[2018-07-12 19:42] AnalogJ commented on #248
It doesn't need to be a massive test suite, just something simple to ensure that when lexicon is called as a library it loads and executes as expected.

You're right, the core logic and provider interactions are tested as if they are called via a library already, so it would only need to test the `includes` and provider initialization works correctly.

Ah, a fake pip install could be nice, but I'm

[2018-07-12 19:48] AnalogJ commented on #254
yeah I'm with @alexzorin , this sounds like a great idea.

I don't personally use CPanel, so I won't be much help with the provider, but I'm more than happy to accept a PR.

Regarding a pre-flight check for this "Advanced Zone Editor" feature, you could use the `authentication` function to do this.

Basically if the feature isn't enabled, lexicon will just stop what it's doing and show the an erro

[2018-07-13 12:18] TheGammelgalopper commented on #263
I installed certbot with apt and started it with just `certbot`.

So `certbot renew` should then be already registered automatically if I understood correctly?

[2018-07-13 13:45] adferrand commented on #263
Yes, very likely. Debian package should have installed a cron job, you will find it at `/etc/cron.d/certbot`. It executes `certbot renew` twice a day.

[2018-07-14 17:08] #251 closed

[2018-07-14 17:08] #253 closed

[2018-07-15 21:38] TheGammelgalopper commented on #263
Oh good, why didn't I look into cron myself??

Yes sure, there is exactly that file which executes it twice a day (/12).

Thank you for your patience with me!

[2018-07-15 21:38] #263 closed

[2018-07-20 14:51] rdrey opened #267 "Missing cryptography dependency when following CONTRIBUTING.md"
`requirements.txt` lists `cryptography` as a dependency, but `setup.py` doesn't. `CONTRIBUTING.md` doesn't instruct contributors to install `requirements.txt`.

This causes two unit test failures and one error (collecting `tests/providers/test_googleclouddns.py`) in Python 2.7.

We could move it to optional dependencies since only one provider uses it. Or we could add it to `setup.py` since it's a

[2018-07-20 15:37] AnalogJ commented on #267
thats a great catch, something I completely overlooked.

I think it might make even more sense to change `requirements.txt` to just contain a dot (`.`)

That would make `setup.py` the single source of truth for all dependency versions.

Thoughts?

[2018-07-20 17:44] rdrey commented on #267
Sounds good! (As long as lexicon doesn't need to pin dependency versions it might as well all be in `setup.py`.)

[2018-07-23 04:38] rwjs commented on #258
Can I please get an update on this? Unlike the issues which have been updated in the meantime, **this bug breaks the whole program**.

I've already done the troubleshooting.

I've already described when it broke.

I've already supplied the fix.

All I need is some kind of indication that this is in progress - or anything further you might need me to do.

[2018-07-25 16:17] AnalogJ commented on #258
Hey @rwjs
Sorry about the delay. I haven't taken a look at new issues for a bit since I've been travelling.
In general it's much easier to merge PR's rather than patchsets since my automation is setup for it. I'll manually create a PR for this though.

Unfortunately I can't test this change as I don't have a CloudNS account, but maybe @ppmathis can take some time and verify it.

[2018-07-26 04:52] ppmathis commented on #258
@AnalogJ Sure! :) Ping me once you have created the PR and I will gladly get it verified.

[2018-07-29 15:30] tim-seoss opened #271 "Cloudflare plugin always returns success on delete"
I'm not particularly sure this is a real bug, but the cloudflare delete_record seems to unconditionally return True on delete, irrespective of actual success.  If this is intentional, then at the very least 'payload' in that member function is assigned but the result remains unused.

[2018-07-30 15:40] IainDouglas commented on #233
Hi, I just had an opportunity to try this again and the problem remains.
CentOS 7.5
Lexicon 2.7.0
Provider dnsmadeeasy.

[2018-08-01 14:18] bagintz commented on #253
Thank you!

[2018-08-05 18:17] mt7479 commented on #171
@adferrand Is it possible to specify the protocol with an environment variable ? I tried the following with no luck.

[code]

I patched my dehydrated hook and included the necessary command line parameters but environment variables would the nice though.

[2018-08-07 20:37] adferrand commented on #171
In fact only options like --auth-* can be specified with environment variables. But protocol is specified with --api-protocol. I named it like this because this option is related to the provider itself, not to the authentication.

@AnalogJ, I think it would be useful to specify any option by environment variables.

[2018-08-08 08:34] mt7479 commented on #171
Ah, now i understand. It would indeed be nice have this at least for this specific provider, not sure if any other would benefit as well.

[2018-08-08 15:08] davejamesmiller opened #272 "Memset provider: TypeError: string indices must be integers"
Hi,

When using the Memset provider with the default table formatting I get this error:

[code]

I think this is because `output` is a string not an array - when I added `print output` I got a string like `969f9caabe19859c11249333dd80aa15`.

When I use `--output JSON` I get the same ID plus quotes:

[code]

I know Memset's not public so if you need any help to test it just let me know. For now I'l

[2018-08-09 17:05] jelockwood opened #273 "DNS Challenge, Gandi, APIv4 and required delay(s)"
I am currently setting up and testing using certbot with lexicon and our Gandi DNS provider.

As is well known if your using the classic i.e. v4 API with Gandi you need to add a sleep 1500 command to give it time to propagate the update to the DNS record. See - https://community.letsencrypt.org/t/solved-certificate-creation-failed-using-certbot-dns-challenge-and-gandi-dns-servers/54778 as an examp

[2018-08-11 19:14] nh2 commented on #171
@mt7479 Can you share your patches? I'm facing the problem

[code]

and suspect that it'll go away by using the REST API.

[2018-08-12 08:37] mt7479 commented on #171
@nh2 Nice hack!
I wasn't as smart and simply hard-coded all the needed options in the hook file. Including removing the $PROVIDER Variable :-D

[2018-08-12 08:44] adferrand commented on #171
PR is on the go to avoid the hacks ^^

[2018-08-16 09:27] kapouer opened #275 "api change of online.net broke lexicon plugin"
Hi,

Blame them ! i'm working on it...

[2018-08-16 14:38] kapouer commented on #275
https://github.com/kapouer/lexicon/commit/74a93ac77899fe709bdd503328679f7e50c04b38 should fix it, however i've opened a ticket to this provider to know more about the breaking change.

[2018-08-16 14:39] kapouer commented on #275
Also i can't publish updated tests because a part of the api server has crashed, apparently.

[2018-08-20 19:33] harobed opened #277 "Add command to save and restore zone records"
Hi,

I would like use **lexicon** with this workflow:

1. save all records (A, AAAA, CNAME...) with one command to a `records.txt` file
2. I edit this `records.txt` file
3. I commit it with git
4. I push this new config with **lexicon**

What do you think about this workflow?

What do you think about add two new commands to save all zone records and write all zone records?

Best regards,
Stéphane

[2018-08-25 12:30] ravichandra22 opened #279 "[Godaddy] unable to add NS record"
[code]
When I try to add NS record for GODADDY provider,

[code]

It returns success but its not added

`$ lexicon godaddy list griddableqa1.xyz NS`
[code]

[2018-08-28 18:13] AnalogJ commented on #225
not really, its kind of hard to automatically validate all possible input combinations. However with the --debug flag enabled, lexicon will print a list of the parsed parameters.

[2018-08-28 18:27] AnalogJ commented on #277
Hey @harobed

adding a `dump` and `restore` function definitely sounds useful, but I think there's a couple issues with it:

- philosophically `lexicon` is designed to interact with record/recordsets as its fundamental unit. DNS is an old and well understood spec, making it fairly easy to find common functionality across all DNS providers.
- while dump/restore sounds simple on paper, I think it'll

[2018-08-28 18:27] #277 closed

[2018-08-28 18:37] AnalogJ commented on #273
This sounds like an issue with the certbot flow. Lexicon doesn't have any delays built into it. It just interacts with DNS provider API's as requested (create, update, list, delete)

The certbot team should be able to help you out.

[2018-08-28 18:37] #273 closed

[2018-08-28 18:39] AnalogJ commented on #272
Hmm, thats odd. I'm a bit busy with `lexicon` release issues right now, but I'll see if I can pick this up sooner rather than later.

[2018-08-29 17:30] themsaid opened #281 "Letsencrypt for Route 53 root domain and wildcard"
If I generate a certificate for root domain only or wildcard only it works, but if I generate a certificate for both I get this error.

<img width="1147" alt="screen shot 2018-08-29 at 7 38 06 pm" src="https://user-images.githubusercontent.com/4332182/44804545-e7c0a500-abc1-11e8-9ef0-5197e9ff9550.png">

[2018-08-29 17:38] AnalogJ commented on #281
From your image its a bit difficult to determine exactly what the cause is.

There are a couple of lexicon providers that need to be changed to support record sets, but all of the Certbot integrated providers should work out of the box.
You may need to bring up this issue with Certbot or the ACME client that you use.

Which DNS provider are you attempting to communicate with? And which ACME/letsen

[2018-08-30 07:03] themsaid commented on #281
I'm using Route53 as the DNS provider and dehydrated as the acme client, here's the hook registered: https://raw.githubusercontent.com/AnalogJ/lexicon/master/examples/dehydrated.default.sh

[2018-08-30 11:51] taylorotwell commented on #281
The issue seems to be Route 53 doesn't like multiple TXT values with the same domain. I can't even do it manually in the Route 53 web console... even though I can do it in other providers like Cloudflare.

So, that seems to be the problem.

[2018-08-30 11:52] taylorotwell commented on #281
This SO issue seems to indicate the values have to all be added at the same time:

https://serverfault.com/questions/616407/tried-to-create-2-record-set-type-txt-in-route53

🤷‍♂️

[2018-08-30 13:08] adferrand commented on #248
This issue could be closed.

[2018-08-30 21:22] kapouer opened #282 "Support CAA records"
this allows one to use a DNS record to restrict which CA are allowed for a given domain.

https://tools.ietf.org/html/rfc6844
https://sslmate.com/caa/

[2018-09-04 13:58] meyerluk opened #283 "KeyError: 'id' for route53 list TXT"
I cannot get it to work with route53

`lexicon route53 list domain.tld TXT --auth-access-key MY_KEY_ID --auth-access-secret MY_SECRET`

Returns
[code]

It seems it only gets this error if there is something to display e.g. if I add `--name test`(which does not exist) it returns this:
[code]

Did I get something wrong here or did amazon change its API?

Thanks.

[2018-09-10 04:41] #275 closed

[2018-09-10 19:55] #248 closed

[2018-09-13 16:36] alainwolf opened #286 "Support for TLSA records"
I wrote a [hook script for dehydrated that creates TLSA records](https://github.com/alainwolf/DHANE) in DNS whenever a certificate is deployed. It also supports the dehydrated roll-over keys.

The script currently uses the proprietary `pdnsutil` command-line tool of PowerDNS to create records.

To make this useful for a wider community, I was thinking about switching to lexicon alainwolf/DHANE#1

[2018-09-14 07:05] AnalogJ commented on #286
Hey @alainwolf
lexicon's primary purpose to interact with providers in a standardized way. Theoretically thats a good thing but it does mean that occasionally we're limited to the features of the lowest common denominator.

I'm not familiar with the `TLSA` record type, but I'd be happy to add it if you would be willing to do a bit of research and tell me which lexicon providers currently support i

[2018-09-14 07:06] AnalogJ commented on #282
Hey @kapouer

This is very similar to #286, so I'm just going to copy my comment from there:

lexicon's primary purpose to interact with providers in a standardized way. Theoretically thats a good thing but it does mean that occasionally we're limited to the features of the lowest common denominator.

I'm not familiar with the **CAA** record type, but I'd be happy to add it if you would be willing

[2018-09-14 07:09] kapouer commented on #282
That's fair, i think it's too early to expect that level of coverage.

[2018-09-14 07:10] AnalogJ commented on #281
Yeah, currently the Route53 provider does not support record sets, theres an open issue for it: https://github.com/AnalogJ/lexicon/issues/262

I don't use Route53 with lexicon so it's a bit hard for me to test changes. If you'd be willing to open a PR there's an existing record-set test suite that you can use to verify your work.

We tracked some of the providers that have record-set support in ht

[2018-09-14 07:14] AnalogJ commented on #271
while it is correct that alot of providers return `True` in the function calls, that doesn't mean they are unconditionally successful. Most providers have the following line in their `_request` function:

    r.raise_for_status()  # if the request fails for any reason, throw an error.

Which means they throw an error if the response returns with a non-2XX HTTP code.

[2018-09-14 07:14] #271 closed

[2018-09-14 07:16] AnalogJ commented on #258
Hey @ppmathis did you have a chance to take a look at #270?

[2018-09-14 10:45] alainwolf commented on #286
Ok I will do that. But since DNSSEC is a prerequisite for TLSA to work, I am not to confident to find over 70%.
While I am at it, I will check for CAA support too #282

[2018-09-14 17:45] alainwolf commented on #282
From the 41 providers listed in the lexicon README.md ...
21 providers (51%) support CAA records.
That is less then 70%.

But if you look at their names, the big ones clearly tend to support it. Cloudflare doesn't support it yet by API, but they will soon, as they are among the strongest supporters. This leaves me with the impression, that still over 70% of the users would benefit from it. But who

[2018-09-14 18:14] alainwolf commented on #286
From the 41 providers listed in the lexicon README.md ...
Only 7 providers (17%) support DANE by having DNSSEC **and** allowing TLSA records.

- [x] Cloudflare
- [x] EasyDNS
- [x] Gandi LiveDNS API
- [x] Google Cloud DNS
- [x] OVH
- [x] PowerDNS
- [x] Rage4

I could not find enough reliable information on the following ones:
 * Gandi (old deprecated API 3.3.37) - unsure about TLSA, DNSSEC is suppo

[2018-09-14 21:04] clayshieh commented on #254
@AnalogJ  this was on the back burner for a while. But I just took a look at integrating the Cpanel support and I need to make some modifications to my library to make it more compatible with Lexicon. Also, is there a common directory for files or do I need to register my module on pypi for it to be used in Lexicon?

[2018-09-16 10:01] AnalogJ commented on #254
Hey @clayshieh
It would need to be registered as a module on pypi.

[2018-09-20 15:29] AnalogJ commented on #282
Hey @alainwolf Thanks again for researching this.

Yeah, I agree. It looks like there's enough support for CAA records across the large providers to make this a meaningful change.
If either of you want to open a PR, I'd be happy to merge it.

[2018-09-20 20:56] ppmathis commented on #258
Sorry for the delay. I've checked #270 and can confirm it is working just fine, however I'd suggest anyone to stick to auth-id/auth-subid authentication as its probably safer to restrict API to the appropriate LE-enabled domains/zones only.

[2018-09-21 00:49] #258 closed

[2018-09-25 12:08] mcepl opened #294 "zeep dependency is hardly optional …"
When https://github.com/AnalogJ/lexicon/blob/1e025e41c21298f795ce81d58573bfd911db382b/lexicon/providers/subreg.py#L29 unconditionally uses it.

[2018-09-25 14:40] adferrand commented on #294
It is effectively really optional. The idea here it that if you do not need to use the subreg provider, then you do not have to install its dependencies. In this case, yes, you cannot instantiate the provider, but it does not matter, because you will not try to do something like `lexicon subreg create ...`

However, you still need to always protect the import statements on optional packages from a

[2018-09-25 15:14] AnalogJ commented on #294
@adferrand summarized it quite nicely.

Lexicon tries to support as many providers as possible, but as a user you shouldn't need to install the dependencies of 50 providers if you only need to run 3. The way that we solve this issue is by requiring  that non-standard dependencies are added to the [setup.py](https://github.com/AnalogJ/lexicon/blob/master/setup.py#L89-L97) file as `extras_require` g

[2018-09-25 15:14] #294 closed

[2018-09-25 15:37] AnalogJ commented on #244
Hey @alexzorin
Seems I never got around to responding to your question. Yeah the create operation should be idempotent, creating a record set (or reusing it if it already exists) and then populating it with a new record.

Unfortunately the `route53` provider recordset support is a hot mess. I don't personally use route53 and I'm not very familiar with its API so I was hoping for some help from the

[2018-09-25 17:35] mcepl commented on #294
Well, not completely. Couldn't we get an option to run at least part of the test suite without all packages installed. I am a packager for openSUSE, and packaging of all those packages required for running test suite (particularly ``zeep`` and all its very many dependencies) is really obnoxious. So, I have now choice between packaging all those packages, which I wouldn't need otherwise, and not ru

[2018-09-25 18:07] AnalogJ commented on #294
hm, are you saying you'd like to run the test suite for just an individual provider?

CONTRIBUTING.md kind of touches on how to do it. Something like this should work (havent tested it though)

[code]
I hope I'm not mis-understanding your request

[2018-09-25 20:45] hank commented on #294
As someone who just wrote a provider, I can confirm the above method of running test for an individual provider works perfectly.

[2018-09-26 08:48] adferrand commented on #252
Still interested, but I could not reach you @elyscape.

[2018-09-26 09:02] elyscape commented on #252
Apologies; it completely slipped my mind. I'll get you the test credentials sometime this week.

[2018-10-02 07:05] baochungit commented on #281
@AnalogJ Route 53 does support record sets. Take a look at bellow of value field, you will see a note "IPv4 address. Enter multiple addresses on separate lines.". However lexicon doesn't do it the same way.

[2018-10-02 10:10] baochungit commented on #281
https://docs.aws.amazon.com/Route53/latest/DeveloperGuide/ResourceRecordTypes.html#TXTFormat
Could lexicon support this soon?

[2018-10-05 22:31] shodan45 opened #297 "Should duplicate records be allowed?"
In adding LiquidWeb support to lexicon, I discovered that they support duplicate records when I ran the tests:
[code]

I'm no DNS expert - are multiple identical records "legal"? Since LiquidWeb allows it, should I code around this by checking for an existing record in create_record()? Or should I skip this test for LiquidWeb?

[2018-10-07 00:03] AnalogJ commented on #297
[Record sets are allowed](https://tools.ietf.org/html/rfc2181#section-5) but completely identical records are not.

I would add a check to check if a identical record already exists in the record set before running create.

[2018-10-09 21:53] shodan45 commented on #297
Done, thanks!

[2018-10-09 21:53] #297 closed

[2018-10-09 22:17] shodan45 opened #299 "How to filter responses in VCR.py cassettes?"
For some reason, LiquidWeb's API responses include an "X-LW-User" header which echoes the user name sent in the request, and I need to filter that out. I went down a bit of a rabbit hole into the VCR.py module, and found [this](https://vcrpy.readthedocs.io/en/latest/advanced.html#custom-response-filtering) in their docs, but I don't see how to use that in lexicon without significant refactoring.

[2018-10-09 22:40] AnalogJ commented on #299
Heres an example of filtering headers:

https://github.com/AnalogJ/lexicon/blob/master/tests/providers/test_cloudflare.py#L15-L16

Let me find you an example of how to filter body content

[2018-10-09 22:44] AnalogJ commented on #299
Hmm, doesn't seem like we have a built in method for filtering response data [(only post data)](https://github.com/AnalogJ/lexicon/blob/4999a6ec783c7c1358baefe14dee0e54d2d07bb9/tests/providers/integration_tests.py#L25-L27)

If you want to open a separate PR for that, I'd be happy to merge it.
You'll want to mimic the way we do other filtering functions in this class:
https://github.com/AnalogJ/lex

[2018-10-22 12:33] bsandy999 opened #304 "How to handle/mapped and list multiple ENV authentications for same provider?"
Suppose i have **two clients** for same service provider ( e.g digitalocean).
user1:
export LEXICON_DIGITALOCEAN_USERNAME="username1@gmail.com"
export LEXICON_DIGITALOCEAN_TOKEN="sample_token1"

user2:
export LEXICON_DIGITALOCEAN_USERNAME="username2@.gmail.com"
export LEXICON_DIGITALOCEAN_TOKEN="sample_token2"

After exporting credentials for both **lexicon digitalocean list domainname TXT** comma

[2018-10-27 12:55] rqelibari commented on #299
PR #307 (_Add _filter_response method for VCR tests_) implements this functionality.

[2018-10-27 13:32] rqelibari commented on #282
@AnalogJ What exactly are the tasks needed to implement support for "CAA" records other than adding "CAA" to the sub-parsers of providers?

[2018-10-30 18:40] kapouer commented on #282
@rqelibari i'd say updating the tests for each provider ?

[2018-10-30 22:38] rqelibari commented on #282
@kapouer Do you have some special test case in mind?
As lexicon is not using a TDD approach I think the current test sets are totally sufficient as all providers that pass the TXT record tests already prove to be able to add DNS records. New tests would not add any more confidence in the code. What do you think? Am I missing something?

Also: if such tests were to be rewritten, I assume we'd have

[2018-10-30 23:12] kapouer commented on #282
Well i don't know the exact purpose of the tests, but i'm sure some providers don't support CAA records. Is lexicon supposed to test that fact ?

[2018-10-31 11:56] rqelibari commented on #282
The right question is: Do you think there might be DNS services that require other steps to add a CAA record than to add a TXT record?

In my opinion further tests are necessary _if and only if_ the answer to that question is yes.

[2018-10-31 16:14] AnalogJ commented on #299
#307 is merged now so you should be able to do response filtering in your LiquidWeb provider @shodan45

If you need any help, feel free to open another PR.

Thanks again for your help @rqelibari

[2018-10-31 16:15] #299 closed

[2018-10-31 16:27] AnalogJ commented on #282
Hey @kapouer  @rqelibari @alainwolf

Yeah, @rqelibari hit the question on the nose. If `CAA` records can be treated like `TXT`/`A`/`CNAME`/etc records where `name` and `content` are the primary requirements, then adding support for `CAA` would be as simple as inserting it into the list here: https://github.com/AnalogJ/lexicon/blob/master/lexicon/__main__.py#L27

I'm not quite convinced that adding

[2018-10-31 16:32] AnalogJ commented on #304
yeah, unfortunately supporting multiple accounts per provider is not something that `lexicon` supports out-of-the-box. Even looking at @adferrand 's `auto` provider, I don't think it'll do what you want.

If you would like to list records for different domains across different accounts you'll need to do it with 2 separate calls to `lexicon`

[2018-10-31 16:32] #304 closed

[2018-10-31 16:34] AnalogJ commented on #279
Hey @ravichandra22

Is this issue still occurring for you? Can you try creating the record and waiting a couple minutes before listing the records?

Some providers have a significant delay between creating a record and having it available on their DNS.

[2018-10-31 16:37] AnalogJ commented on #254
Hey @clayshieh
Just wanted to follow up. Hows the CPanel provider work going? If your having issues creating a pypi project, and I walk you though the steps I used for `lexicon`

[2018-11-05 10:06] lbillich opened #313 "OVH provider does not support proxy"
If you set a proxy via environment variables, the OVH provider does not use it.
I think it's because the OVH provider is directly using the method Session.send instead of using Session.request (in the method _request of ovh.py).
The method Session.request support the proxy if it has been set via environment variables.
The method Session.send does not.

[2018-11-06 16:54] AnalogJ commented on #313
closed.

[2018-11-06 16:54] #313 closed

[2018-11-06 23:46] ags-slc commented on #200
The `localzone` provider also solves this in the manner described by @adferrand, in case anyone would like to see an example. #316

[2018-11-07 13:46] rqelibari commented on #282
@AnalogJ I will look into it (this weekend maybe, but cannot promise). I will modify `lexicon` and the [easyname][1] provider.

To anybody who has enough time and wants to help: feel free to join!

[1]: https://github.com/AnalogJ/lexicon/blob/master/lexicon/providers/easyname.py

[2018-11-07 14:03] adferrand commented on #282
Well, all providers I developed seem to support CAA. I will definitively have a look on it.

[2018-11-07 14:20] kapouer commented on #282
Unfortunately `online` does not support CAA yet (though they added support for TLSA recently which is a good sign).

[2018-11-27 10:42] bsandy999 opened #323 "Does lexicon support update? I am trying to update DKIM value but getting requests.exceptions.HTTPError: 404 Client Error: Not Found."
_I wanted to update the existing value of DKIM using a lexicon. But using lexicon update is not working for me. Can you help me with this? Below is the command I am using to update DKIM value.

**lexicon Command :-**
<pre><code>lexicon digitalocean update sampledomain.com TXT --name='pepi._domainkey.sampledomain.com' --content='k=rsa;
p=AAAAAAAAAAAAAAAAAMIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDLMMEx

[2018-11-27 10:51] adferrand commented on #323
Did you tried to update the record using its identifier?

[2018-11-27 11:20] bsandy999 commented on #323
I am trying with this command

lexicon digitalocean update sampledomain.com TXT --name='pepi._domainkey.sampledomain.com' --content='k=rsa; p=AAAAAAAAAAAAAAAAAMIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDLMMExLiGRqzJkNdNIjUnLX7JL0wjbwwENDoXgJIBisIsrofLPetZM401dioNU8k/Qp6nIyi5oioyZh+1jDXoCPFa4nLGRNj3Nz785N7b76aTtHmy2wTgR2LFS/Yw5/iyzhyrWsIyINyyHs77EoCwSOQjJfhFxb6SmifLN51IIvwIDAQAB'

In which
1. sampledoma

[2018-11-27 12:37] adferrand commented on #323
I am saying that because there is to way to update a record: by unique identifier or by matching the given type and name.

But for the latter case, there is a flaw, because several records could match a given type and name. Indeed most of the time, you can insert multiple TXT for a given name.

And if multiple matches are found, some providers will update the first match, other will not update any

[2018-11-28 06:36] bsandy999 commented on #323
Updating the record using its identifier is pretty simple and quick. The second approach is still not working for me using the name but for now, I will do with the identifier.
_Thanks for the help @adferrand_

[2018-11-28 06:36] #323 closed

[2018-12-04 19:19] kaz opened #326 "ENV vars are not used for testing"
Since v3.0.0,
I found that ConfigResolver is reading invalid environment vars (such as `LEXICON_NONE_TOKEN`) in a test for any providers.
Provider-specific environment vars (such as `LEXICON_CONOHA_TOKEN`) have been not referred.

I think it is because `config.resolve('lexicon:provider_name')` returns *None* on a test process.

Is this intended behavior?

[2018-12-04 20:03] adferrand commented on #326
No, it is not the intended behavior... I forgot to add the provider name in the test config. PR is coming.

[2018-12-05 02:10] AnalogJ commented on #326
Closing this since #327 is merged with @adferrand 's fix.

[2018-12-05 02:10] #326 closed

[2018-12-06 15:46] ravichandra22 opened #330 "[Required help] How to add multiple records in ROUTE53"
HI,

Please help me how to add multiple records using lexicon to aws route53 records.

I have tried

1. lexicon route53 create test-domain.xyz NS --name test-ns  --content test1 --content test2

It's updating only test2.

2. lexicon route53 create test-domain.xyz NS --name test-ns  --content test1
    lexicon route53 create test-domain.xyz NS --name test-ns  --content test2

even in this way its p

[2018-12-09 23:39] adferrand opened #331 "Localzone provider is breaking with the latest dnspython version"
The PR #325 pointed out that localzone provider is sudently breaking. I think it is related with dnspython, a dependency of localzone provider, for which a new version as been released two days ago (8 dec 2018). See the CI logs for #325 to get the error.

cc @ags-slc @AnalogJ

[2018-12-10 15:55] ags-slc commented on #331
Thanks for bringing this to my attention. I'll take a look ASAP.

[2018-12-10 16:58] ags-slc commented on #331
An updated version of localzone (v0.9.5) has been released to address this issue. Please let me know if you have any questions or concerns. Thanks!

[2018-12-13 20:16] adferrand commented on #331
Your welcome ^^

[2018-12-13 20:16] #331 closed

[2018-12-19 11:26] mcepl opened #332 "Fixing deprecated regexp syntax"
When running the testsuite I get:
[code]
It is completely unnecessary, as this [trivial patch](https://github.com/AnalogJ/lexicon/files/2694624/fix_regexps.patch.txt) can fix this (and no, I would rather make this patch this into a pull request; I maintain couple of hundred Python packages, so I don't want to clone each of their repositories).

[2018-12-19 15:00] mcepl opened #333 "test_hetzner tests mostly fail (without internet access?)"
When running builds of packages for openSUSE, we have all builds in the isolated environment without a network connection. Perhaps it is the reason, why most ``test_hetzner`` tests fail (all other pass).
[code]
[Full build log](https://github.com/AnalogJ/lexicon/files/2695322/lexicon-build-log.txt) is here.

[2018-12-19 21:48] rembik commented on #333
Hi @mcepl, you are right. It fails because of no nameservers found for the test domains. I will implement fallback handling asap.

[2018-12-19 22:14] mcepl commented on #333
Thanks

[2018-12-27 20:08] adferrand commented on #171
Fixed by #302. Now protocol can be set using LEXICON_GANDI_API_PROTOCOL env variable.

[2018-12-27 20:08] #171 closed

[2018-12-27 20:46] #332 closed

[2018-12-27 22:02] ragnarkarlsson opened #335 "Centos 7, pip install, requests[security]"
Hi

Trying to get Lexicon installed on Centos 7 running python 2.7.5 and pip 18.1, running into the following problem:

[code]
Can't seem to find a way to resolve the request[security], any suggestions?

[2019-01-02 20:54] #272 closed

[2019-01-06 22:56] adferrand opened #343 "Provider easyDNS is broken"
During code refactoring to correct pylint issues, I discovered that the provider for easyDNS is broken.

Almost all cassettes registered include 5XX or 4XX HTTP errors when the provider is invoked. As the cassettes have been registered against the live API, it suggests most likely that the provider is not functional.

Tests should fail then, but a try/except block is incorrectly written, and hide

[2019-01-08 16:10] dotboris opened #344 "DNSimple crash with team member that does not have a plan"
Here's the error I get (I have redacted my account number, domain and auth token)

[code]

I believe that this happens because of the way the domain I have is configured. We have a domain configured with a team. There is one account that has a professional plan (with our domain) and we have other users as team members of that account. The only account that has a plan is the one mentioned. Other us

[2019-01-17 22:00] david-rahrer commented on #249
I am getting this same error using the script getssl along with lexicon. It only started recently on a system using Ubuntu 14.04. Lexicon and getssl are both current.

[code]
I've searched around but everything seems to be installed and up-to-date. We don't use GoDaddy, the domain is using CloudFlare. Any advice would be appreciated.

[2019-01-17 22:04] david-rahrer opened #346 "from urllib3.util.retry import Retry - ImportError: No module named retry"
I am getting this same error using the script getssl along with lexicon. It only started recently on a system using Ubuntu 14.04. Lexicon and getssl are both current.

[code]
I've searched around but everything seems to be installed and up-to-date. We don't use GoDaddy, the domain is using CloudFlare. Any advice would be appreciated.

I found something similar in a closed thread https://github.com

[2019-01-17 22:32] david-rahrer commented on #346
Thank you, here you go:

[code]

[2019-01-17 22:50] adferrand commented on #346
So I see that your version of urllib3 is very old, which make sense as you are on Ubuntu Trusty. On this version, the package `urllib3.util.retry` does not exist, and this is the root of the error. Pip do not try to update it, because it is a OS package.

I you cannot go to a more recent version of Ubuntu, then I advise you to install a Python virtual environment, and install Lexicon inside it. Th

[2019-01-17 23:14] david-rahrer commented on #346
Thanks again for your quick help. Is there a tutorial on installing Lexicon in a Python virtual environment? I'm not experienced with this. The only thing I found [was this](https://github.com/AnalogJ/lexicon/blob/master/CONTRIBUTING.md) but it seems geared to development.

[2019-01-19 23:52] kapouer commented on #282
Hi there ! I recently found out that CAA records are really not a good thing for open-source and free software. Please have a look at this:
https://dev.to/kapouer/caa-records-only-have-a-meaning-in-a-world-without-free-ssl-providers-34cb
for explanations. I won't support CAA records anymore.

[2019-01-19 23:53] kapouer commented on #282
in any case i think lexicon should be agnostic - so the purely technical issue is still open.

[2019-01-23 23:20] adferrand commented on #346
Hello! I think that the best documentation so far is the official one: https://packaging.python.org/guides/installing-using-pip-and-virtualenv/

Indeed the one in the repository is an extended config to setup the development tools inside a Python virtual environment.

Note that once lexicon is installed inside it, you can call directly lexicon without enabling the virtual environment directly by i

[2019-01-28 19:56] Scifire opened #347 "Need help with Hetzner"
I´m trying to setup lexicon with hetzner but i don´t get it to work:

System Ubutnu 16.04
[code]
tried it with this syntax (not sure if it´s correct):
`lexicon hetzner list mydomain.de TXT --auth-account robot --auth-username mymail@gmail.com --auth-password 'mypassword'`

then i got:
[code]
Can anyone tell me what i´m doing wrong/wheres the mistake?

[2019-01-28 20:55] Scifire commented on #347
@adferrand thanks for your fast answer.
I use my own local dns resolver (unbound) which is really not slow
[code]
And names which could be not local resolved will be resolved by 8.8.8.8

But could that local unbound the problem?

[2019-01-30 13:18] rembik opened #349 "Broken CI pipeline"
Error: Invalid requirement: --process-dependency-links

For more detail see pull request log, that brings up this issue. https://github.com/AnalogJ/lexicon/pull/348

[2019-01-30 16:12] bkanuka opened #350 "Add Hover Provider"
Opening issue just to say I'm working on adding Hover to lexicon. I'm working on my fork here: https://github.com/bkanuka/lexicon

I'm working on the tests/recordings and then I'll open a PR

[2019-01-30 19:45] adferrand commented on #350
Great! Looking forward to review it!

[2019-01-30 19:56] adferrand commented on #349
Yes, this deprecated option has been finally removed from pip 19.0. Hopefully I anticipated the problem with #338. The PR has been merged. You can sync your PR with master to fix the CI for you.

[2019-01-31 05:52] snk-nick opened #353 "Failure when using two part TLDs (namecheap)"
Authentication fails to namecheap when trying to use any .net.au or .com.au TLD. Using .com or .net domains under same account with same code work no issues.

`Hook command "/etc/letsencrypt/scripts/lexicon-namecheap.sh create" returned error code 255
Error output from lexicon-namecheap.sh:
Traceback (most recent call last):
  File "/usr/local/bin/lexicon", line 10, in <module>
    sys.exit(main()

[2019-01-31 08:39] #349 closed

[2019-01-31 10:04] adferrand commented on #353
This typically why we use in Lexicon `tldextract` to smartly extract out the TLD part from a domain, that is indeed `.net.au`, and not `.au` as naive `.split('.'.)` gives here.

Sadly this issue arise from upstream project `PyNamecheap` that is used by Lexicon in the `namecheap` provider. So we cannot directly correct the issue because the latest published version of `PyNamecheap` contains the fau

[2019-01-31 10:22] snk-nick commented on #353
Thanks, I've opened that here: https://github.com/Bemmu/PyNamecheap/issues/25

[2019-02-04 08:28] bsandy999 opened #358 "Does lexicon works with Go-daddy ?"
I am trying with GoDaddy as per lexicon documentation. For digital ocean it's working fine but not with GoDaddy.
1. I tried with api-key and username
2. Tried with username and account password
each and every time gets **Unauthorized**
`Traceback (most recent call last):
  File "/usr/bin/lexicon", line 9, in <module>
    load_entry_point('dns-lexicon==2.7.9', 'console_scripts', 'lexicon')()
  File

[2019-02-04 09:07] adferrand commented on #358
Hello @bsandy999, normally yes it is working, as our integration tests are passing. Modifications of the Godaddy API may occur and break the provider however.

Could you paste the exact command you issued, with the credentials values shadowed? I will try with my own credentials.

[2019-02-04 09:35] bsandy999 commented on #358
Thanks @adferrand

[2019-02-04 09:44] adferrand commented on #358
So I assume you have followed the instructions provided in the GoDaddy API to get a key and a secret. However you are using the wrong environment variables. For Godaddy, credentials are passed through `--auth-key` and `--auth-secret`. So the environment variables are `LEXICON_GODADDY_AUTH_KEY` and `LEXICON_GODADDY_AUTH_SECRET`.

I tested on my side, everything is working.

[2019-02-04 09:55] adferrand commented on #358
Yes. Add `dns-lexicon==2.2.3` to `certbot-dns-linode/local-oldest-requirements.txt`.

[2019-02-05 07:32] bsandy999 commented on #358
@adferrand  Thanks for the detailed information.

As you have mentioned, did the same steps but still getting Unauthorized error.
Entering the correct credentials. You can find my commands below :

**Error :**

Traceback (most recent call last):

Why my credetials not getting reflected, any idea?

[2019-02-05 08:20] adferrand commented on #358
Godaddy uses two type of key/secret pairs: one type for the testing environment (OTE), another one for the production environment. Have you check that the key/secret pair you are using is for production?

[2019-02-06 13:32] #350 closed

[2019-02-09 22:52] mpfusion opened #362 "Creating records on godaddy throws: 422 Client Error: Unprocessable Entity"
Attempts to create or delete DNS records using the following command

[code]
fails with

[code]
The record is created, though. Optaining a list of records works without error:

`lexicon godaddy list "$domain" TXT --auth-key="$key" --auth-secret="$secret"`

Let me know if you need further information.

11.2-STABLE FreeBSD
lexicon 3.1.4

[2019-02-11 05:14] quinncomendant opened #364 "Rackspace provider not getting token from the identity API"
_Update: solved! See my comment below._

I'm just starting out with lexicon and trying to get it working with Rackspace Cloud DNS. Requests are failing with a `requests.exceptions.HTTPError: 401 Client Error: Resource not found for validate token request` error. With debugging on, it appears lexicon is not requesting a token from `https://identity.api.rackspacecloud.com/v2.0/tokens` before it cont

[2019-02-11 06:11] quinncomendant commented on #364
I found the cause of my original issue reported above. While setting up lexicon, I had exported this environment variable in my terminal, based on the example provided in the README.md:

    export LEXICON_RACKSPACE_TOKEN="XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"

If this variable exists, the rackspace provider will not request a new token from the auth API. That's why that step was skipped, as shown in

[2019-02-11 06:29] quinncomendant opened #365 "Add new zone? List all zones? List all records in zone? lexicon.yml config?"
I think there is some missing functionality in the Rackspace provider. I've read through the README.md and output from `-h`, but I can't find these features:

- List all zones (domains) in my account. I want to print a list of all domains we manage.
- List all records in a zone (domain). It seems lexicon requires specifying a record type (`A`, `TXT`, etc). Is there a way to dump the entire zone?
-

[2019-02-11 17:35] quinncomendant commented on #59
I just came across this old thread. I have a use case similar to @srvrco, and I think I can explain what is required:

`example.com` and `sub1.example.com` can be seperate zones, with non-overlapping administrative access. As @srvrco mentioned, `sub1.example.com` is a FQDN, and can have its own name servers and DNS service provided separately from `example.com`. In this case, I may have access to

[2019-02-11 17:52] AnalogJ commented on #59
Hey @quinncomendant I think this issue has been solved with the addition of the `--delegated` flag.

Can you confirm that the following command works as intended?

[code]

[2019-02-11 18:05] AnalogJ commented on #365
The lack of zone manipulation functionality is partially due to restrictions in DNS provider API's and partially due to design decisions made when building `lexicon`

- *List all zones (domains) in my account. I want to print a list of all domains we manage.*
    - while most DNS providers have a way to list zones, CRUD functionality is inconsistent and so this was ignored.
- *List all records in

[2019-02-11 18:10] AnalogJ commented on #364
I'm not very familiar with the rackspace provider. The CODEOWNERS file mentions that it was written by @rmarscher Hopefully he has some ideas.

Is this issue tied to an alternative authentication mechanism that Rackspace supports?

[2019-02-11 19:32] rmarscher commented on #364
@quinncomendant @AnalogJ

[2019-02-11 19:57] adferrand commented on #365
Concerning the location of lexicon.yml, Lexicon will search in the current directory, meaning the directory from where the shell has invoked lexicon CLI. It made me think that I forgot to make this configurable. So PR #367 ^^

[2019-02-11 20:02] adferrand commented on #364
Hello @rmarscher, just a little precision to say that now, removing `--auth` to get the environment variable name is deprecated. Now, it is simply `LEXICON_RACKSPACE_COMPLETE_CONFIG_NAME`.

So following variables can be used:
* `LEXICON_RACKSPACE_AUTH_ACCOUNT`
* `LEXICON_RACKSPACE_AUTH_USERNAME`
* `LEXICON_RACKSPACE_AUTH_API_KEY`

For documentation, my `auto` provider is gathering the options of a

[2019-02-11 20:45] rmarscher commented on #364
OK. Thanks for letting me know, @adferrand.

@quinncomendant I'm testing out with my rackspace account and the latest master branch. There may be other fixes needed here along the lines of what you reported based on changes in lexicon since I last tested the provider (~April or May of 2018).

[2019-02-11 21:26] rmarscher commented on #364
I submitted a pull request. With this change, I can do

[code]

[2019-02-11 22:31] quinncomendant commented on #364
This looks great. Thanks @rmarscher

[2019-02-12 11:26] iwan-aucamp-cs opened #369 "Add upsert option"
I want to create a record, and if it exists update it. I can do this via some wrappers around dns-lexicon but it would be much nicer to have it in one command.

Have
[code]

So if the record exists it will do:
[code]

Otherwise:
[code]

[2019-02-13 12:47] aucampia commented on #369
I'm thinking this can be implemented in https://github.com/AnalogJ/lexicon/blob/master/lexicon/providers/base.py#L118 with calls to list followed by create or update - would appreciate some feelback if this would be acceptable.

[2019-02-14 17:45] krusic22 commented on #282
Just a small note, Namecheap now supports CAA records.

[2019-02-14 17:50] kapouer commented on #282
unsurprisingly the "online" provider provides CAA records as well

[2019-02-15 09:43] rqelibari commented on #282
I totally agree. But a word on your linked article:

In my opinion `CAA` is not dangerous to open source, as nothing is kept secret here and the RFC itself is actually open source. If you mean a danger to free SSL certificates, I disagree again. If I have read the RFC correctly, everyone is free to name Let's Encrypt in their respective `CAA` record and nobody would have to pay a dime.

At the sam

[2019-02-15 09:46] kapouer commented on #282
@rqelibari yeah i was really disturbed by some stupid policy of a contractor who did not allow letsencrypt certificates - i'm sorry i shouldn't have ranted around here.

[2019-02-15 19:55] #364 closed

[2019-02-19 09:50] rembik commented on #347
Indeed, this is strange behavior. I guess the required ports in your environment are open and firewalls allow you to request the Hetzner DNS who should response to the DNS query?

Could you please provide an anonymized log with:
`lexicon hetzner list mydomain.de TXT --auth-account robot --auth-username mymail@gmail.com --auth-password 'mypassword' --log_level DEBUG`

[2019-02-19 14:42] kapouer commented on #282
@AnalogJ btw CAA records are manipulated like TXT record, nothing fancy that i know of.
There is a nice list of supported providers here:
https://sslmate.com/caa/support

[2019-02-25 23:17] AnalogJ commented on #369
Conceptually I like the idea, however it would need to be record-set aware.

I think the biggest hurdle here is adding a new test suite and updating existing provider recordings to support this feature.

TBH I'm not sure if its really worth that effort when its fairly easy to do in a wrapper script. It doesn't really need to be a feature built into lexicon.

[2019-02-25 23:20] AnalogJ commented on #330
Hey @ravichandra22 unfortunately record-set support is currently broken for Route53.
Someone was working on it in https://github.com/AnalogJ/lexicon/pull/309 but the work was not completed.

I'm more than happy to accept PR's.

[2019-02-25 23:25] AnalogJ commented on #353
Closing this, as its related to an issue in an upstream library.

[2019-02-25 23:25] #353 closed

[2019-02-25 23:26] AnalogJ commented on #347
Hey @Scifire
Have you gotten this working?

[2019-02-25 23:27] AnalogJ commented on #346
Hey @david-rahrer
Did using a virtualenv fix your issue?

[2019-02-25 23:29] AnalogJ commented on #344
Hey @dotboris

Thanks for doing the hard work of debugging this issue. Could you open a PR with a fix? I'd be happy to merge it.

[2019-02-26 04:09] dotboris commented on #344
@AnalogJ here you go!

[2019-02-26 14:45] Scifire commented on #347
@AnalogJ  currently i didn't come to it... After i'm back at home will try it and report the result here

[2019-03-01 12:40] sebkouba commented on #362
I'm getting a similar error on 3.1.5 for all operations (except once I was able to create a record, now running the same command produces and error - having deleted the entry manually).

[code]

[2019-03-07 13:42] migmedia opened #376 "Error in hetzner-Provider while reading DNS-Zone"
I get a error while reading a zone-file from hetzner.

What went wrong? Does it work at someone else?

`lexicon hetzner --log_level DEBUG list example.com TXT`

[code]

[2019-03-08 13:48] scarabeusiv opened #378 "test_localzone.py requires network access"
If one keeps test_localzone.py test with no network available it fails out:

[code]

Could you please mark this as a network test and skip it if there is no network present?

[2019-03-11 19:27] Scifire commented on #347
@rembik here's the log:

[code]

[2019-03-12 06:31] rembik commented on #347
„Also check if your unbound DNS is configured as nameserver in /etc/resolv.conf, because those will be used as default for DNS resolution.“

[2019-03-12 09:07] Scifire commented on #347
Looks like it is now working.
Maybe my unbound wasn´t working properly cause this day i found an error which i fixed (can´t remember it was there the last time...).

@rembik and @adferrand thanks a lot for your help 👍

[2019-03-12 09:07] #347 closed

[2019-03-12 19:06] rembik commented on #376
I suggest you manage the domain with the Hetzner domain registration robot and you already created the [Hetzner robot DNS entry](https://wiki.hetzner.de/index.php/DNS_Robot/en)?

[2019-03-12 19:39] migmedia commented on #376
The dns is fully complete and functional since 10 years...

Maybe it confilcts with the activated 2FA:

[2019-03-12 21:18] rembik commented on #376
2FA auth is not supported for the implemented Hetzner DNS API. So, this could be the reason for failing.

[2019-03-12 21:22] migmedia commented on #376
Yes, thank you. After switching of 2FA it works as expercted.

[2019-03-12 21:22] #376 closed

[2019-03-13 17:46] derekaug commented on #362
I was getting 422 errors and went into Godaddy's API tools to test things out, for my domain that was giving me grief, I'm getting this error in my 422 response:

`"At least two NS records must be specified in the request body"`

After resolving all API validation errors. I'm really unsure how to resolve it (no mention of this in GoDaddy's docs) and my domain in question is using default nameserve

[2019-03-19 10:48] splashx opened #380 "PowerDNS dot notation"
From PowerDNS 4.2 onwards, undotted notation is not supported.
From PowerDNS >=4.0 but <=4.1 the dotted notation is _optional_.

I suggest we implement the dotted notation _by default_ since that will work with both dotted and undotted versions.

We could have a flag to turn this behavior for those running some legacy versions (which doesn't support dotted notation) or simply add support for Power

[2019-03-28 08:52] bottee opened #382 "INWX Provider does not work"
Hello,

i have problems to get lexicon working with INWX provider. I followed [https://blog.thesparktree.com/generating-intranet-and-private-network-ssl](url)

After I exported

`LEXICON_INWX_PASSWORD="xxx"`
`LEXICON_INWX_TOKEN="xx"`
`LEXICON_INWX_USERNAME="xxx"`

I called

`/srv/dehydrated/dehydrated --cron --hook /srv/dehydrated/dehydrated.default.sh --challenge dns-01`

and get following result

[2019-03-29 12:41] tristan-weil opened #383 "gandi: updating deletes all record of same rtype"
When using Gandi provider, if you update a specific record with a specific type, all records with a matching name will be deleted.

The if-condition handling the case is not correct.

[2019-03-29 13:35] adferrand commented on #383
Hello @tristan-weil.

Just to confirm, are you saying that if we have for instance, a TXT and a A records for the same name, and you ask the TXT record to be deleted by its name, the two records are deleted?

[2019-03-29 15:29] tristan-weil commented on #383
Hello,

Worse, the other records are deleted because it goes in the wrong part of the if-condition (line 180 in gandi.py or check the pr).

And indeed, I should have provided an example. Here it is:
a) without fix:
[code]

b) with fix:
[code]

[2019-03-29 15:42] adferrand commented on #383
Aouch. Since I wrote the RPC part of provider, not the Live REST API, I do not have appropriate account to refresh the records for integration tests. Since you have them, could you run the tests and update them in your PR ? I will merge and publish a fix right after.

To refresh records, you can follow the `Test recordings` section in https://github.com/AnalogJ/lexicon/blob/master/CONTRIBUTING.md.

[2019-03-29 21:35] tristan-weil commented on #383
looks good?

[2019-03-29 21:40] #383 closed

[2019-03-29 21:41] adferrand commented on #383
Yes, just merge your PR!

[2019-04-01 09:47] adferrand commented on #383
Released 3.1.7 with this fix included.

[2019-04-02 07:13] dgrothaus-ku opened #386 "hetzner provider: (non-) optional requirements cause fail"
The try/except block for the _optional_ requirements causes the whole provider to fail if BeautifulSoup is not installed: [Line 15](https://github.com/AnalogJ/lexicon/blob/c3dcd166663c475f66f9612eea5d77a6d529ac6e/lexicon/providers/hetzner.py#L15)

If the `bs4` module is missing, the failing import is catched and the `dns.resolver` and `dns.zone` won't be imported resulting in a non functional prov

[2019-04-02 08:32] adferrand commented on #386
Hello @dgrothaus-ku. First of all, I am very sorry that you lost so much time to understand what was wrong in your runtime environment.

Indeed, you hit an very not intuitive situation towards optional dependencies in providers.

Basically, the idea is that some providers can have dependencies that are **required** for them in order to work properly. But since there is a lot of providers in lexico

[2019-04-02 16:39] cmourizard opened #387 "DNS Simple provider failed on creation record"
When certbot try to add record to DNS Simple, that generates a 400 error because in this line https://github.com/AnalogJ/lexicon/blob/master/lexicon/providers/dnsimple.py#L75 the string doesn't start with "/".

That works fine until this week but doesn't work anymore. Maybe something change in the DNS Simple API return of the AccountId.

[2019-04-03 05:12] dgrothaus-ku commented on #386
Hello @adferrand.

Thank's for the fast reply. I did try getting things to work by running `pip install dns-lexicon[hetzner]`, but I think during that time I was juggling around with python 2/3 problems and pip not runnign anymore after upgrading it. So after a fresh restart I forgot to install the additional dependencies again.

The PR #366 describes exactly what I would have expected.

Again, th

[2019-04-03 05:12] #386 closed

[2019-04-03 19:57] aaronryden commented on #387
can we get this merged? it is causing breaks in this package https://pypi.org/project/certbot-dns-dnsimple/

[2019-04-03 20:01] adferrand commented on #387
Could I have an output of the stacktrace?

[2019-04-03 20:34] cmourizard commented on #387
Current result:
certbot certonly --noninteractive --register-unsafely-without-email --agree-tos --dns-dnsimple --dns-dnsimple-credentials .dnsimple -d mydomain.com
Saving debug log to /var/log/letsencrypt/letsencrypt.log
Plugins selected: Authenticator dns-dnsimple, Installer None
Obtaining a new certificate
Performing the following challenges:
dns-01 challenge for mydomain.com
Cleaning up challen

[2019-04-03 21:10] aaronryden commented on #387
@adferrand The error is actually thrown from here:
https://github.com/aaronryden/lexicon/blob/master/lexicon/providers/dnsimple.py#L195

stating that the hostname `api.dnsimple.com/v2/` is not properly separated from . the path `/account`

You can see i have added an extra '/' at this point, instead of on line 75.

[2019-04-04 09:27] bottee opened #392 "lexicon with cloudflare does not work anymore"
Hello,
trying with cloudflare worked some days ago but today I get:
[code]

[2019-04-04 09:39] somnium78 commented on #392
Same here with ovh (on ubuntu 18.04)

[2019-04-04 10:34] adferrand commented on #392
Seems there is an inconsistency here in how distributions are found by pkg_resources, depending maybe on particularities of the os. I will investigate and publish a fix today.

[2019-04-04 10:41] bottee commented on #392
I use 'ubuntu/bionic64' version '20190403.0.0' in vagrant on macos

[2019-04-04 11:09] adferrand commented on #392
What is your pkg_resources package version? You should be able to get it from `pip freeze`

[2019-04-04 11:27] somnium78 commented on #392
`# pip freeze
asn1crypto==0.24.0
certifi==2019.3.9
chardet==3.0.4
cryptography==2.1.4
dns-lexicon==3.2.0
enum34==1.1.6
future==0.17.1
idna==2.6
ipaddress==1.0.17
keyring==10.6.0
keyrings.alt==3.0
pycrypto==2.6.1
pygobject==3.26.1
pyOpenSSL==19.0.0
Pyro==3.16
pyxdg==0.25
PyYAML==5.1
requests==2.21.0
requests-file==1.4.3
SecretStorage==2.3.1
six==1.11.0
tldextract==2.2.1
urllib3==1.24.1`

[2019-04-04 11:44] adferrand commented on #392
Oh sorry, could you add `--all` flag?

[2019-04-04 11:48] bottee commented on #392
asn1crypto==0.24.0
attrs==17.4.0
Automat==0.6.0
bcrypt==3.1.6
blinker==1.4
cached-property==1.5.1
certifi==2018.1.18
cffi==1.12.2
chardet==3.0.4
click==6.7
cloud-init==18.5
colorama==0.3.7
command-not-found==0.3
configobj==5.0.6
constantly==15.1.0
cryptography==2.1.4
distro-info===0.18ubuntu0.18.04.1
dns-lexicon==3.2.0
docker==3.7.2
docker-compose==1.24.0
docker-pycreds==0.4.0
dockerpty==0.4.1
doc

[2019-04-04 18:47] xueshanf commented on #392
Me too:
[code]

[2019-04-04 21:56] adferrand commented on #392
Hello everyone. I could reproduce the issue, that did not occur when lexicon was installed from sources in editable mode. That is why I did not see the failure during the dev and the tests.

I made the appropriate correction, and published a new version of Lexicon, the 3.2.1, with it. I tested it and the failure disappeared.

You should be able to fix your setup by upgrading Lexicon with pip.

Let

[2019-04-04 23:17] xueshanf commented on #392
@adferrand Yay! It did fixed the issue.
[code]
Thank you!

[2019-04-05 08:32] bottee commented on #392
Yes, it's working again! Thank you very much for your fast response!

By the way, lexicon is a great project!

[2019-04-08 14:43] stuevansuk commented on #335
Same issue here, any advice?

Traceback (most recent call last):
  File "/usr/bin/lexicon", line 6, in <module>
    from pkg_resources import load_entry_point
  File "/usr/lib/python2.7/site-packages/pkg_resources/__init__.py", line 3241, in <module>
    @_call_aside
  File "/usr/lib/python2.7/site-packages/pkg_resources/__init__.py", line 3225, in _call_aside
    f(*args, **kwargs)
  File "/usr/l

[2019-04-08 15:41] adferrand commented on #335
This error is due to the fact that you try to use pip system-wide to install Lexicon: you are exposed to interference between the python modules pre-installed as OS packages, and the ones that pip tries to install to fulfill the requirements.

In this particular test, you have `requests` module installed in version 2.6.0 as an OS package (RPM `python-requests`). Package `dns-lexicon` from pip requ

[2019-04-08 15:47] stuevansuk commented on #335
Thanks for your support, i'll look at those options!

[2019-04-08 15:56] adferrand commented on #392
Great! I am closing.

[2019-04-08 15:56] #392 closed

[2019-04-08 15:56] adferrand commented on #335
Note: I also added a summary of what I said here in the `README.md` of Lexicon.

[2019-04-08 16:29] stuevansuk commented on #335
This is perfect and great to see it making into the Readme as it was the first place I checked when I had the issue. Cheers.

[2019-04-08 21:32] adferrand commented on #387
I fixed the issue on 3.2.0.

[2019-04-11 20:49] yearski opened #394 "internetbs _list_records() fails when response has no records"
I'm using Internet.bs: [lexicon/providers/internetbs.py](lexicon/providers/internetbs.py)

A typical API response for a DNS record list looks like:
[code]

But when there are no records:
[code]

The internetbs.py provider accesses the 'records' key and thus fails with an unhandled exception, when there are no records:
https://github.com/AnalogJ/lexicon/blob/cd747b572fba8ac719556a30d69b03194af600e1

[2019-04-11 20:56] yearski commented on #394
I went to submit a pull request and notice that there is some inconsistencies... Should _list_records() check the 'status' attribute like the other methods do? I don't think the other methods a prone to accessing a non-existent 'records' key but it might be worth an extra set of eyes.

[2019-04-12 10:41] NikitaVoitov opened #396 "Exception: ClouDNS API request has failed: Invalid type parameter"
[code]
Can't create TXT record in my zone (ht-line.ru) managed by Cloudns.
What I'm doing wrong? How to see the actual POST request issued by lexicon to Cloudns?

While listing records via lexicon work as expected:
[code]
Just doublecheked via lexicon (2.2.1) shipped with Ubuntu 18.04:
[code]
Record is created. It seems that the functionality is broken in latest lexicon version (3.2.1), pls fix.

[2019-04-13 14:05] displague opened #397 "Add Linode to the project's Github tags"
Linode is missing from the project's tags:

![image](https://user-images.githubusercontent.com/317653/56080810-a1782900-5dd3-11e9-8033-08be5a388de5.png)

Is there a limit?

[2019-04-18 14:02] sceptiq opened #400 "Hetzner => ID for domain org does not exists"
Hey,

 I have several domains managed by hetzner. I m able to query every one successfully except the one that is a .org:

[code]

any ideas ? :)

EDIT: I have only one .org ...

[2019-04-19 05:25] AnalogJ commented on #397
yeah, theres a limit of 20 tags. I'm going to close this as a `wont-fix` for now, as there's not much we can do here.

At some point we'll need to consider how we decide which providers are added to that list, but TBH I'm not sure it's even used very often.

[2019-04-19 05:25] #397 closed

[2019-04-19 05:28] AnalogJ commented on #387
Since this is merged in v3.2.0, I'm going to close this issue.
Feel free to respond to this issue if it needs to be re-opened.

[2019-04-19 05:28] #387 closed

[2019-04-19 05:29] AnalogJ commented on #394
Closing this issue, fix was merged

[2019-04-19 05:29] #394 closed

[2019-04-19 05:31] AnalogJ commented on #365
Doesn't look like there's any additional questions. Closing.

[2019-04-19 05:31] #365 closed

[2019-04-24 15:18] MrNightfloor commented on #396
I have the same problem.
Can confirm this for version 3.1.6 and latest 3.2.3.

[2019-04-24 15:43] MrNightfloor commented on #396
Found the problem.

In file lexicon/providers/cloudns.py line 51:
`'record-rtype': rtype,`
That should be:
`'record-type': rtype,`

The ClouDNS HTTP API wants `record-type` as parameter, source: https://www.cloudns.net/wiki/article/58/

[2019-04-26 22:55] sceptiq commented on #400
I think i figured it out... there was something wrong mit my dns resolution.

sry ..

[2019-04-26 22:55] #400 closed

[2019-05-07 14:37] #344 closed

[2019-05-07 17:30] ags-slc commented on #378
Thanks for pointing this out. In hindsight, there is no reason why the localzone provider should require a network connection for its tests. I'll submit a PR shortly to fix.

[2019-05-18 02:47] AnalogJ commented on #396
closing this issue, thanks for the PR!

[2019-05-18 02:47] #396 closed

[2019-05-21 16:40] Cronus89 opened #409 "cryptography outdated in lexicon pip install?"
I get the below error while trying to run dehydrated with lexicon going to cloudflare.

`deploy@docker:~/dehydrated$ /home/deploy/dehydrated/dehydrated --cron --hook /home/deploy/dehydrated/dehydrated.default.sh --challenge dns-01
# INFO: Using main config file /home/deploy/dehydrated/config
Processing irc.cncirc.net with alternative names: irc.eu.cncirc.net irc.us.cncirc.net
 + Signing domains...

[2019-05-21 18:53] #378 closed

[2019-05-24 16:27] m-augustine opened #410 "Constellix provider CNAME creates incorrectly"
Hello,

When I try to create a CNAME record on provider Contellix, the record is inserted incorrectly. Instead of the CNAME pointing to the value I have given, it points to the domain that it is created in

example:
Domain = alpha.test.com
Desired CNAME record: portal123.alpha.test.com ==> otherdomain.com
CNAME that gets created: portal123.alpha.test.com ==> alpha.test.com

I believe the issue lie

[2019-05-30 12:55] #380 closed

[2019-06-26 07:20] znerol opened #416 "AttributeError: Requirement instance has no attribute 'name'"
When `lexicon` is installed via `epel-repos` on centos, it currently crashes with an `AttributeError` when attempting to discover provider requirements with the following stack trace:

[code]

`Dockerfile` for reproduction:

[code]

Instructions to build/run:

1. Place `Dockerfile` from above into an empty directory and `cd` into it.
2. ```
    docker build -t centos-lexicon-attributeerror-repro .

[2019-06-26 07:38] adferrand commented on #416
Hello @znerol! Thanks a lot for your report, it is always difficult to correctly track compatibility over all LTS distributions, because of their wide lifetime.

Could you confirm that if you revert https://github.com/AnalogJ/lexicon/commit/1f8b37789fd656d80c0424bbd56c3d0b40aa07de, Lexicon is still able to recognize that a given provider with extra dependencies has not these dependencies fulfilled

[2019-06-26 08:32] znerol commented on #416
Regrettably another fix is necessary in order to make this installable from source due to a very old `requests` package.

[code]

Build docker image with patch applied:

[code]

[code]

Output of `lexicon --help`:

[code]

[2019-06-26 08:38] adferrand commented on #416
Thanks for your effort. I am reproducing your steps with the branch I have integrated on master, to confirm the fix is supported.

[2019-06-26 08:44] adferrand commented on #416
Ok, I just confirm that it is working on master. I am preparing the retro-fix for the EPEL package.

[2019-07-14 09:55] znerol commented on #416
This has landed [downstream](https://bugzilla.redhat.com/show_bug.cgi?id=1722190#c915), python2-dns-lexicon 3.2.8 is now available in EPEL/el7.

[2019-07-14 09:55] #416 closed

[2019-07-14 12:06] mgasperiVIE opened #421 "Hetzner This provider (hetzner) has required dependencies that are missing."
Hello!
This might be a simple one, I've installed lexicon via:
pip3 install git+https://github.com/AnalogJ/lexicon - then I've tried to call lexicon from command line
lexicon hetzner --auth-account=konsoleh --auth-username=some_user --auth-password=some_password list some_domain TXT
the error message is:
This provider (hetzner) has required dependencies that are missing. Please install lexicon[het

[2019-07-14 12:14] mgasperiVIE commented on #421
Now, I've found it finally - so sorry for bothering!

This command worked:
pip3 install dns-lexicon[hetzner]

Seems the version with git+http... was wrong.

[2019-07-14 12:14] #421 closed

[2019-08-07 01:42] HanSooloo opened #424 "Unable to use easyDNS sandbox API endpoint"
I just got my easyDNS sandbox API access.  However, I am unable to tell lexicon to use the test endoint.

easyDNS requires me to do a "few test runs" on the sandbox environment before granting me access to the live environment.

How can I tell what endpoint URL to use?

[2019-08-07 06:26] adferrand commented on #424
Hello! It seems the relevant command flag is missing for easyDNS. I will correct that quickly.

In the mean time, you can still set the endpoint to use by filling the environment variable `LEXICON_EASYDNS_API_ENDPOINT` before calling Lexicon.

[2019-08-19 13:23] teohhanhui opened #425 "Support Cloudflare API tokens"
Cloudflare has introduced API tokens: https://community.cloudflare.com/t/restricted-api-keys/13647/100

Not to be confused with API keys.

[2019-08-29 07:32] krilor opened #432 "LuaDNS _list_records fails due to missing "id" in API response"
I'm using certbot with the luadns plugin which in turn uses lexicon.
I've been experiencing the error reported here: https://community.letsencrypt.org/t/luadns-renew-error/89634

[code]
I've replaced the zone id with [XXXXXX].

Code line that errors: https://github.com/AnalogJ/lexicon/blob/master/lexicon/providers/luadns.py#L71

Running the call directly towards the LuaDNS api shows that my REDIRE

[2019-09-12 15:03] kumarunster opened #433 "wildcard cert issue with azuredns provider?"
Hello,

I'm facing below issue, if I try to obtain wild card certificate from letsencrypt with certbot/lexicon.

I found this similar issues https://github.com/certbot/certbot/issues/5673 and referencing https://github.com/AnalogJ/lexicon/issues/182.

It seems for me, that the issue still exist, at least for azure? Does any workaround exists to create a wildcard domain certificate?

[code]

[2019-09-28 02:54] mcblum opened #435 "AWS signature does not match"
Hi -- does anyone know why I would be getting this error?

[code]
Google says to update the aws cli but that doesn't seem to work!

[2019-09-30 07:41] alexzorin opened #437 "DNS Made Easy needs retry logic, to recover from rate limiting errors"
Originally certbot/certbot#7411.

DNS Made Easy has [restrictive rate limits](https://api-docs.dnsmadeeasy.com/?version=latest#f6f3c489-422d-4cf0-bccb-1933e6d655ac):

Lexicon should be able to recover from hitting the rate limit without failing the operation.

The response received is an HTTP 400 with a response body of:

@adferrand suggested retry logic in [this comment](https://github.com/certbo

[2019-09-30 07:59] adferrand commented on #437
I think the best is to send them to me as PM on EFF Mattermost.

[2019-10-04 08:18] bottee opened #441 "Provider Hetzner not working"
Hello,
I'm trying to get lexicon with Hetzner working:

[code]
but I get the following errors:
[code]
What is the problem? I'm happy for any hints!

[2019-10-07 15:11] bottee commented on #382
Problem solved, I had 2FA enabled. After I disabled 2FA it worked as expected.

[2019-10-07 15:11] #382 closed

[2019-10-07 15:14] #437 closed

[2019-10-15 21:05] kaifried commented on #432
https://github.com/AnalogJ/lexicon/pull/447

[2019-10-15 21:09] kaifried commented on #432
I created a PR for a similar problem. Hadn't seen that there are other cases as well.
The PR: https://github.com/AnalogJ/lexicon/pull/447

[2019-10-15 21:24] hongkongkiwi commented on #425
Any idea when this might be supported?

[2019-10-20 18:05] yajrendrag commented on #343
appears that the problem is related to self.domain not getting set.  with --log_level DEBUG i get this:
https://rest.easydns.net:443 "PUT /zones/records/add/us.com/TXT?format=json&_user=...
(note the /zones/records/add/**us.com** is missing some of the domain name
(My root domain is of the form XXX.us.com - see 2nd problem mentioned later)

if i change this line in easydns.py:
payload = self._get(

[2019-10-22 14:58] adferrand commented on #441
Well, there is something wrong with your DNS zone. Are you sure it exists, and you did not make a typo?

Lexicon complains about the absence of `SOA`. This is the SOA record, https://en.m.wikipedia.org/wiki/SOA_record, which is basically the mandatory entry to define a zone. Without it almost nothing in the DNS protocol can work.

[2019-10-22 14:59] adferrand commented on #230
That has been done.

[2019-10-22 14:59] #230 closed

[2019-10-22 15:19] adferrand commented on #252
This has been done.

[2019-10-22 15:19] #252 closed

[2019-10-22 15:20] #335 closed

[2019-10-22 15:20] #346 closed

[2019-10-22 15:23] #191 closed

[2019-10-22 15:23] adferrand commented on #198
This is documented now.

[2019-10-22 15:23] #198 closed

[2019-10-22 15:25] adferrand commented on #200
Test suite check now updates of records in record sets. It just needs to be added progressively to all existing providers in Lexicon once we have the occasion to do so.

[2019-10-22 15:25] #200 closed

[2019-10-23 04:28] david-rahrer commented on #279
Yes, thank you. It took some experimentation but that does work. However, after some more thought, I decided to use a dedicated VPS for creating certs and export them to where they are needed. The [GETSSL](https://github.com/srvrco/getssl) script makes this easy to do. Thanks again, sorry for not getting back about it.

[2019-10-23 10:13] #432 closed

[2019-10-25 17:52] felixonmars opened #456 "Missing git tag for 3.3.7 release"
It would be nice to keep PyPI releases and git tags in sync :)

[2019-10-25 17:58] adferrand commented on #456
Yes there were a small failure during the last release process, and the tag has not been pushed. I fix that tonight.

[2019-10-27 10:49] gilzellner opened #457 "missing documentation for api usage"
Hi,
I am trying to use this to manage powerdns as a python package.
Is there a doc somewhere on how to configure the endpoints for this with examples ?
Thanks

[2019-10-29 03:13] AnalogJ commented on #457
Hi @gilzellner
Unfortunately there's no real documentation regarding how to use `lexicon` as a library, however it documented fairly well via the code.

The [`cli.py`](https://github.com/AnalogJ/lexicon/blob/master/lexicon/cli.py#L112-L117) file documents it as follows:
[code]

Basically the steps are:

1. Instantiate a [ConfigResolver](https://github.com/AnalogJ/lexicon/blob/master/lexicon/config

[2019-10-29 03:15] AnalogJ commented on #456
Looks like this was fixed, closing.

[2019-10-29 03:15] #456 closed

[2019-10-29 03:28] AnalogJ commented on #425
Hi @teohhanhui @hongkongkiwi

Unfortunately I haven't been keeping up-to-date with all the new features that CloudFlare has released so thanks for bringing this up.

If I'm reading this correctly, it seems that Cloudflare is providing a way to scope their API tokens, which is great for security.

Looks like they are just standard `Bearer` tokens. Let me see what the requirements are to start using

[2019-10-29 03:41] AnalogJ commented on #425
Looks pretty simple actually, just a conditional around these two lines, https://github.com/AnalogJ/lexicon/blob/master/lexicon/providers/cloudflare.py#L141-L142
replacing the `X-Auth-*` header with an `Authorization: Bearer XXXX` header.

If one of you would be willing to open a PR to add support, that would be appreciated!

[2019-10-29 03:47] AnalogJ commented on #424
`LEXICON_EASYDNS_API_ENDPOINT` should work for this use-case. Closing this issue for now.
If that doesn't work @HanSooloo feel free to re-open this issue.

[2019-10-29 03:47] #424 closed

[2019-10-29 09:01] gilzellner commented on #457
Hi,

    lexincon_config = {
        "provider_name" : "powerdns",
        "action": "create",
        "domain": "example.com",
        "type": "cname",
        "pdns_server": "powerdnstestgil-20001-001-test"
    }

    config = ConfigResolver()
    config.with_dict(dict_object=lexincon_config)
    client = Client(config)
    results = client.execute()

and still getting this error:

    /Users/gi

[2019-10-29 15:01] Scrin commented on #425
Since the "old" API keys require both username (email) and token (the key) and the "new" API tokens require just the token, I suppose the easiest solution is to assume the provided token (ie. `LEXICON_CLOUDFLARE_TOKEN`) is a "new" API token if the username (ie. `LEXICON_CLOUDFLARE_USERNAME`) is *not* provided, and otherwise assume it's an "old" API key. This way it would be compatible with existin

[2019-10-29 17:05] Scrin commented on #425
Well, I suppose you do test changes that you make, so it should come up quite quickly that something's wrong if things stop working when you change the environment variable to the new token. Of course you may have same or similar configuration in many places/environments that you forgot, but that should not be an issue if the "backwards compatibility" is not broken as the old "username + key" pair

[2019-10-29 18:11] teohhanhui commented on #425
I don't think so.

Unfortunately we already use `LEXICON_CLOUDFLARE_TOKEN` / `LEXICON_CLOUDFLARE_AUTH_TOKEN` for the "global API key". So we have a naming crisis now. :laughing:

[2019-10-29 18:51] adferrand commented on #425
OK I give up ;) All your arguments convinced me. Let's reuse `LEXICON_CLOUDFLARE_AUTH_TOKEN`!

[2019-11-05 17:27] trinopoty opened #458 "Domain name lower case enforcement"
This is related to [#6972 on Certbot](https://github.com/certbot/certbot/issues/6972).
Lexicon uses `==` for comparison of domain names. Since python's `==` is case sensitive for strings and domain names are case insensitive, this causes issues sometimes as in the issue mentioned above.

This should be fixed so that all operations on domain names first convert to lower case.

[2019-11-10 09:02] HerrFolgreich opened #461 "TLDExtract Private Domains for Dynamic DNS Providers"
Hello all,

I'm currently putting together the plugin for dynu.com (listed in NYI proiders).
As Dynu also acts as Dynamic DNS provider with several toplevel domains as base for the dynamic domain (`yourhost.dynu.net`, `yourhost.freeddns.org`..., also, wildcards), I had some trouble putting together the plugin.

As an example, I'm making up `mydomain.dynu.net` as my target dynamic dns hostname.

No

[2019-11-12 09:22] o-sole-meo opened #463 "Easyname provider is broken"
Currently, easyname support is not working as the easyname website changed. There is a pull request with a working fix though: #449

I am in the process of getting things to work so it can be merged, but in the meantime you can just apply the 2 linechanges so you can use lexicon with easyname again.

[2019-11-12 09:37] marcelloromani commented on #458
Shouldn't all DNS names be forced lowercase?
(I mean converted to lowercase upon input)

[2019-11-13 09:05] trinopoty commented on #458
It should be but there are inconsistencies in various places.
For instance, the linode api does not convert domain names to lower case by default. This caused issues with certbot that converts all domain name to lower case.

This issue is a call to check all provider code to make sure they don't treat domain names anywhere as case sensitive.

[2019-11-16 19:10] antetna opened #465 "Misleading error message: ProviderNotAvailableError - This provider (plesk) has required dependencies that are missing. Please install lexicon[plesk] first."
[code]
Error is misleading because of this part:

it should be

[2019-11-22 11:18] rembik commented on #441
Could be closed, because it is no lexicon issue.

[2019-11-28 19:31] bottee commented on #441
Sorry for my late response. I'm sure it's not a typo as I tried it very often and at least I verified that the authentication worked.
Maybe It is because I only have a simple Webhosting account?
Anyway, meanwhile I changed to a different provider and it worked without problems.
Sorry for the inconvenience and thank you for your great work!

[2019-11-28 19:31] #441 closed

[2019-12-04 16:35] trinopoty commented on #435
This happens when you use a different region to sign the request than where your resource is located.
That or your access keys have errors, like your access secret not matching your access key.

[2019-12-04 16:38] trinopoty commented on #202
I can provide recordings for a few providers, viz. Linode, Godaddy, Cloudflare.
I personally use Linode and Godaddy and Cloudflare is free.

[2019-12-04 16:39] trinopoty commented on #202
And also AWS if need be. I use AWS and can easily create a new domain to get recordings.

[2019-12-04 16:41] trinopoty commented on #279
This can be closed.

[2019-12-11 13:01] rqelibari commented on #463
Hey @o-sole-meo,

How far are you with your fix? Maybe I can help you. If I remember correctly, I was the one implementing the `easyname` provider.

[2019-12-13 09:30] Unostot opened #468 "label:question possible/useful to add the hetzner email interface as provider?"
Hello,

I've succesful using the existing Hetzner provider which under the hood parses the website and gets the needed information from there.

But there are three problems with this method:
1. If Hetzner changes the HTML code, the provider needs to be changed
2. With enabled two-factor authentication it is not possible to use this provider
3. There is only one password for the Hetzner account, no

[2019-12-17 16:52] pdgo commented on #198
Hi, I'm hitting this issue now trying to use lexicon as a library. What was the fix?

[2019-12-21 17:21] nine opened #470 "Provider Hetzner KonsoleH is broken"
When using the latest version of lexicon, i.e.

[code]

there is a problem parsing the website:
[code]

I do have some problems running the actual test-suite as well:
[code]
Please can someone provide short guidance how to set the config yaml file or environment variables correctly for Hetzner KonsoleH - thanks.

[2019-12-22 14:54] #463 closed

[2019-12-23 19:43] erauer opened #471 "Support optional aws_session_token for Route53 provider"
We're currently using temporary credentials for authentication with the AWS api which includes an optional aws_session_token which needs to be passed to the boto3.client.

Is it possible to support this optional parameter or configure the boto3.client from the session instead of LEXICON_ROUTE53_USERNAME ?

[2019-12-27 10:51] Rayzilt opened #472 "Environment variables AUTH Transip"
When using the environment variables to authenticate to Transip it seems that Lexicon doesn't use them.

Tested with our without the `_AUTH_` added to the variable name.

Using `--auth-username` and `--auth-api-key` does work.

[code]

[code]

[code]

[2020-01-05 11:52] Rayzilt commented on #472
I have to use variable LEXICON_TRANSIP_AUTH_API_KEY instead of  LEXICON_TRANSIP_AUTH_TOKEN

[2020-01-05 11:52] #472 closed

[2020-01-06 16:20] oldium commented on #358
If you do everything OK, it should work. Get the _Production_ keys to be able to modify your domain at https://developer.godaddy.com/keys, create a new API key (set some name and don't forget to select Production) and you shall see the following:

![image](https://user-images.githubusercontent.com/1260936/71830271-b5bd2e00-30a6-11ea-804b-40fa0ada46b4.png)

Those are the `LEXICON_GODADDY_AUTH_KEY`

[2020-01-06 17:01] oldium commented on #343
Wrong extraction of the root domain in form xxx.us.com is caused by the fact that tldextract during initial download of root domain registry ignores _private domain_ section. Unfortunately the domain us.com is part of this private section.

To convince the `tldextract` library to take private domains into account, there is a parameter to `TLDExtract` constructor called `include_psl_private_domains